{% extends 'base.html' %}

{% block title %}Welcome !{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="mb-5">Welcome to eXamc!</h1>

        <div class="form-group">
            <a class="btn btn-primary"
               href="{% url 'oidc_authentication_init' %}{% if next %}?next={{ next|urlencode }}{% endif %}">
                <i class="fa-solid fa-arrow-right-to-bracket"></i> EPFL (Entra ID) login
            </a>

            <a class="btn btn-info" href="/generate_room_plan">
                <i class="fa-solid fa-chair"></i> Room plan
            </a>
        </div>
    </div>
{% endblock %}