
{% extends 'base.html' %}
{% load static %}
{% block title %}Upload scans{% endblock %}

{% block content %}
<h4><i class="fas fa-cloud-upload-alt fa-l" style="margin-right:5px;"></i>Upload scans</h4>
<div id="uploadScansDiv" style="padding:10px;width:100%;color:#000;">
    {% if not amc_ok %}
    <div class="alert alert-warning" role="alert" style="padding:20px;">
        <h4 style="color:saddlebrown;margin-bottom:20px;">
            <i class="fa-solid fa-triangle-exclamation fa-2xl" style="color:saddlebrown;"></i>  No AMC project found!
        </h4>
        Before importing scans for review, an AMC project must be imported via the ‘AMC’->‘Import Data’ menu.<br/><br/>
        The project must also have been compiled and be valid. This can be seen in ‘AMC’->‘AMC’, ‘Project’ tab. You should see two green banners: <br/>
        <ul>
          <li>"Working documents last update ..."</li>
          <li>"Processed XX pages"</li>
        </ul>
        If this is not the case, you can run the update via the "Update documents" button and then the layout detection via the "Layout detection" button.
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert" style="padding:20px;">
        <h4 style="color:darkred;margin-bottom:20px;">
            <i class="fa-solid fa-skull-crossbones fa-2xl" style="color:darkred"></i>Warning
        </h4>
        Importing scans will automatically deleting old scans. Any annotations and comments relating to them will also be deleted! <br/><br/>
        If you want to keep a record of these data, you can export them (before importing them again!) via the ‘Review -> Export marked scans’ menu.
    </div>
    <form id="uploadScansForm" method="post" action="{% url 'upload_scans' pk=exam.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-md-8">
                <input type="file" name="exams_zip_file" id="exams_zip_file" accept=".zip" required class="custom-file-input form-control">
                <label class="custom-file-label" for="exams_zip_file">Choose .zip file</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                <button class="btn btn-dark btn-sm" type="submit"><i class="fas fa-cloud-upload-alt" style="margin-right:5px;"></i>Start upload</button>
            </div>
        </div>
    </form>
    <h6>{{ message }}</h6>
    {% endif %}
</div>

<script>
$("#exams_zip_file").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

</script>
</body>
{% endblock %}

