{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block extra_head %}
    <style>
        .tooltip-icon {
            margin-left: 5px;
            cursor: pointer;
            color: #0048ff;
        }
    </style>
{% endblock %}
{% block title %}Seating plan{% endblock %}
{% block content %}
    <h3><i class="fa-solid fa-meteor" style="margin-right:5px;"></i>Seating map</h3>
    <form id="special-form" method="post" enctype="multipart/form-data">
    
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper row" id="DIV-{{ field.name }}"
                 style="padding: 10px;{% if field.name == 'special_file' %}display:none;{% endif %}">
             {% if field.help_text %}
                        <i class="fas fa-info-circle tooltip-icon" data-toggle="tooltip" data-placement="top" title="{{ field.help_text }}"></i>
                    {% endif %}
                <div class="col col-sm-2">
                    {{ field.label_tag }}

                </div>
                <div class="col col-sm-4">
                    {{ field }}
                     {% if field.name == 'special_file' %}
                        <label class="custom-file-label custom-file-label small">Choose a csv file
                            <input class="custom-file-input form-control" accept='text/csv'>
                        </label>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-dark btn-sm" type="submit" name="action" value="download">Download Seat Map</button>
        <button class="btn btn-dark btn-sm" type="submit" name="action" value="preview">Preview Seat Map</button>
    </form>
    <br>
    <a href="{% static '/exemple_csv.csv' %}" class="btn btn-dark btn-sm" download target="blank">Download Example .csv File</a>
    <br>
    <br>
    <a href="https://docs.google.com/forms/d/1Bu_SiV5ckfGGeA3h-SLQ36WsCe7P_9QG8wSvmlMIXzs/edit" class="btn btn-dark btn-sm">survey</a>
    
     <br>
    <br>
    <div class="row">
        {% for export_file in export_files %}
            <div class="col-md-4">
                <img src="{{ export_file }}" class="img-fluid" alt="Seating Map">
            </div>
        {% endfor %}
    </div>
    <script>
       function showHideSpecialFile(value) {
           opt = value;
           console.log("skip_opt: ", opt);
            el = $("#DIV-special_file");
            if ((opt === 'skip') || (opt === 'special')) {
                el.css("display", "");
            } else {
                el.css("display", "none");
            }
        }
        function showHideLastNumber(value) {
            num_opt = value;
            console.log("num_opt: ", num_opt);
            el = $("#DIV-last_seat_number");
            if (num_opt) {
                el.css("display", "none");
            } else {
                el.css("display", "");
            }
        }
        $(function () {
            $('[data-toggle="popover"]').popover({
                trigger: 'focus',
                placement: 'top'
            });
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}