{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block extra_head %}
    <style>
        .tooltip-icon {
            margin-left: 5px;
            cursor: pointer;
            color: #ff003b;
        }
    </style>
{% endblock %}

{% block title %}Seating plan{% endblock %}

{% block content %}
    <h3><i class="fa-solid fa-meteor" style="margin-right:5px;"></i>Seating map</h3>

    <form id="special-form" method="post" enctype="multipart/form-data">
    
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper row" id="DIV-{{ field.name }}"
                 style="padding: 10px;{% if field.name == 'special_file' %}display:none;{% endif %}">
                <div class="col col-sm-2">
                    {{ field.label_tag }}
                    {% if field.help_text %}
                        <i class="fas fa-info-circle tooltip-icon" data-toggle="tooltip" data-placement="top" title="{{ field.help_text }}"></i>
                    {% endif %}
                </div>
                <div class="col col-sm-4">
                    {{ field }}
                </div>
            </div>
        {% endfor %}

        <button class="btn btn-dark btn-sm" type="submit">Download Seat Map</button>
    
    </form>

    <script>
       function showHideSpecialFile(value) {
           opt = value;
           console.log("skip_opt: ", opt);
            el = $("#DIV-special_file");
            if ((opt === 'skip') || (opt === 'special')) {
                el.css("display", "");
            } else {
                el.css("display", "none");
            }
        }

        function showHideLastNumber(value) {
            num_opt = value;
            console.log("num_opt: ", num_opt);
            el = $("#DIV-last_seat_number");
            if (num_opt) {
                el.css("display", "none");
            } else {
                el.css("display", "");
            }
        }
        $(function () {
            $('[data-toggle="popover"]').popover({
                trigger: 'focus',
                placement: 'top'
            });
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
