__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
.env
.env.*
.env*
.git
.gitignore
.media/
media/*
staticfiles/
node_modules/
dist/
build/
.coverage
.mypy_cache/
.pytest_cache/
deploy/db/*
export_tmp/*
celery_schedule/*
