{% extends 'base.html' %}
{% load custom_tags %}
{% load render_table from django_tables2 %}


  
{% block title %}Exam info {% endblock %}


{% block scripts %}
{% endblock %}

{% block content %}

    
{% if user_allowed %}
    <ul class="nav nav-pills nav-fill flex-column flex-sm-row border" id="exam-info-pills-tab" role="tablist"
        style="margin-bottom:10px;">
        {% for comex in exam.get_common_exams_yc_common %}
            <li class="nav-item" role="presentation">
                <a class="flex-sm-fill text-sm-center nav-link {% if comex.is_overall %}active{% endif %}"
                   id="{{ comex.id }}-tab" data-toggle="pill" href="#pills-{{ comex.id }}" role="tab"
                   aria-controls="pills-{{ comex.id }}" aria-selected="true">
                    {% if comex.is_overall %}
                        COMMON
                    {% else %}
                        {{ comex.code }}
                        <br>
                        {{ comex.id|get_exam_teachers_short_str }}
                   {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="tab-content" id="exam-info-pills-tabContent">
        {% for comex in exam.get_common_exams_yc_common %}
            <div class="tab-pane fade {% if comex.is_overall %}show active{% endif %}" id="pills-{{ comex.id }}" role="tabpanel" aria-labelledby="pills-{{ comex.id }}-tab">

                <h4><i class="fa-solid fa-book-open fa-l" style="margin-right:5px;"></i>Exam Info</h4>

                <div class="accordion" id="accordionExamInfo-{{ comex.id }}">
                    <div class="card z-depth-0 bordered">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <p style="text-align:left;margin-bottom:-5px;">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                        Exam
                                    </button>
                                    <a id="regen-stats-bt" class="btn btn-dark btn-sm"
                                       href="{% url 'generate_stats' comex.pk %}"><i class="fa-solid fa-rotate-right"
                                                                                    style="margin-right: 5px;"></i>Regen
                                        stats</a>
                                    <span style="float:right;margin-top:7px;">
                                        <a data-toggle="modal" data-target="#displayPdfModal-{{ comex.id }}" title="Show in pdf" style="font-size:12px;">catalog<i
                                                class="far fa-file-pdf" style="font-size:24px;color:red"></i></a>
                                    </span>
                                </p>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                            <div class="card-body">
                                <table class="table table-sm table-borderless">
                                    <tr style="border-bottom:.5px solid lightgrey;">
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Year</th>
                                        <th>Semester</th>
                                        <th>Date</th>
                                        {% if comex.common_exams.all %}
                                            <th>Individual specific</th>
                                        {% endif %}
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td>
                                            {% if comex.is_overall %}
                                                GLOBAL
                                            {% else %}
                                                {{ comex.code }}
                                            {% endif %}
                                        </td>
                                        <td>{{ comex.name }}</td>
                                        <td>{{ comex.year.code }}</td>                             
                                        <td>{{ comex.semester.code }}</td>
                                        <td id="exam_date_column-{{ comex.id }}">
                                            {% if comex.date %}
                                                {{ comex.date|date:"Y-m-d" }}
                                            {% else %}
                                                <input class="date form-control" type="date" name="exam_date" id="exam_date-{{ comex.id }}"  style="width:175px;color:red;" class="form-control" required="" aria-invalid="true" value="{{ comex.date|date:"Y-m-d" }}">
                                                <a style="color:red">Please select a date !</a>
                                            {% endif %}
                                        </td>
                                        {% if comex.common_exams.all %}
                                            <td>
                                                {{ comex.indiv_formula }}
                                                <br>
                                                <em>[indiv_max_points];[common_max_points];[formula]
                                                    <ul>
                                                        <li>IP - invid_max_points</li>
                                                        <li>CP - common_max_points</li>
                                                        <li>SCP - students common points</li>
                                                        <li>SIP - students indiv points</li>
                                                    </ul>
                                                </em>
                                            </td>
                                        {% endif %}
                                    </tr>
{#                                    <tr>#}
{#                                        <td style="text-align: right;">#}
{#                                            <button id="manage-users-bt" type="button" class="btn btn-light" title="Manage users" style="padding:0px;padding-left:5px;" onclick="$('#manageUsersModal-{{ comex.id }}').modal('show');"><i class="fa-solid fa-users-gear fa-2xl"></i></button>#}
{#                                        </td>           #}
{#                                        <td>#}
{#                                            <ul class="list-group">#}
{#                                                {% for exam_user in comex.exam_users.all %}#}
{#                                                    <li class="list-group-item border-0"#}
{#                                                        style="padding:0px;margin:0px;">{{ exam_user.user.first_name }} {{ exam_user.user.last_name }} ({{ exam_user.group.name }})</li>#}
{#                                                {% endfor %}#}
{#                                            </ul>#}
{#                                        </td>#}
{#                                    </tr>#}
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card z-depth-0 bordered">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    Scales
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                            <div class="card-body">
                                <table class="table table-striped table-sm">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Total points</th>
                                        <th>Points to add</th>
                                        <th>Final</th>
                                        {% if user.is_staff %}
                                            <th>Delete</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for scale in comex.scales.all %}
                                        <tr>
                                            <td>{{ scale.name }}</td>
                                            <td>{{ scale.total_points }}</td>
                                            <td>{{ scale.points_to_add }}</td>
                                            {% if scale.final %}
                                                <td><a class="btn btn-light btn-sm" disabled
                                                       style="background-color: transparent;"><i
                                                        class="fa-solid fa-circle-check fa-2xl"></i></a></td>
                                            {% else %}
                                                <td><a class="btn btn-light btn-sm"
                                                       href="{% url 'set_final_scale' scale.pk %}"
                                                       style="background-color: transparent;"><i
                                                        class="fa-solid fa-circle-xmark fa-2xl"
                                                        style="color:lightgray;"></i></a></td>
                                            {% endif %}
                                            {% if user.is_staff %}
                                                <td><a class="btn btn-light btn-sm"
                                                       href="{% url 'delete_exam_scale' scale.pk comex.pk %}"><i
                                                        class="fa-solid fa-circle-minus fa-2xl"
                                                        style="margin-right:5px;color:red;"></i></a></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% if user.is_staff %}
                                    <a target="_blank" id="create-scale-button" class="btn btn-light"
                                       style="background-color: transparent" type="button"><i
                                            class="fa-solid fa-circle-plus fa-2xl"
                                            style="margin-right:5px;color:green;"></i></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card z-depth-0 bordered">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                    Questions (Total points : {{ comex.id|get_sum_questions_points }})
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
                            <div id="questions_div" class="card-body">
                                <div id="alert_regen_stats" class="alert alert-danger" role="alert" style="display: none;">
                                  Don't forget to <a id="regen-stats-bt" class="btn btn-dark btn-sm"
                                       href="{% url 'generate_stats' comex.pk %}"><i class="fa-solid fa-rotate-right"
                                                                                    style="margin-right: 5px;"></i>Regen
                                        stats</a> after questions and answers changed!
                                </div>
                                <table id="questions_dt" class="table table-striped table-sm">
                                    <thead>
                                    <tr>
                                        <th>Question</th>
                                        <th>Type</th>
                                        <th>Answers</th>
                                        <th>Max Points</th>
                                        <th>Common</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for question in comex.questions.all %}
                                        <tr id="question-{{ question.pk }}">
                                            <td>{{ question.code }}</td>
                                            <td>
                                                <div class="btn-group-sm" role="group">
                                                    {% for question_type in question_types.all %}
                                                        <button id="type-{{ question.pk }}-{{ question_type.pk }}"
                                                                type="button"
                                                                {% if question.question_type.pk == question_type.pk %}
                                                                class="btn btn-dark btn-sm focus" {% else %}
                                                                class="btn btn-outline-dark btn-sm disabled"{% endif %}
                                                                {% if not user.is_staff %} disabled {% endif %}>
                                                            {{ question_type.code }}</button>
                                                    {% endfor %}
                                                </div>
                                            </td>
                                            <td>
                                                {% if question.question_type.id <= 2 %}
                                                    <div class="form-group-sm" role="group">
                                                        <input id="nb-answers-slider-{{ question.pk }}"
                                                               data-slider-id='nb-answers-{{ question.pk }}'
                                                               type="text"
                                                               data-slider-value="{{ question.nb_answers }}"
                                                               style="width:500px;"/>
                                                    </div>
                                                {% endif %}
                                            </td>
                                            <td><input id="maxpts-{{ question.pk }}" type="number" min="0"
                                                       value="{{ question.max_points }}" step=".01"
                                                       style="width:100px;" class="form-control form-control-sm"
                                                    {% if not user.is_staff %} disabled {% endif %}></td>
                                            <td>
                                                <div class="btn-group-sm" role="group">
                                                    <button id="common-{{ question.pk }}-1" type="button"
                                                            class="btn btn-light btn-sm"
                                                            style="background-color: transparent;"
                                                            {% if not user.is_staff %} disabled {% endif %}><i
                                                            class="fa-solid fa-circle-check fa-2xl"
                                                            {% if not question.common %}style="color:lightgray;"{% endif %}></i>
                                                    </button>
                                                    <button id="common-{{ question.pk }}-2" type="button"
                                                            class="btn btn-light btn-sm"
                                                            style="background-color: transparent;"
                                                            {% if not user.is_staff %} disabled {% endif %}><i
                                                            class="fa-solid fa-circle-xmark fa-2xl"
                                                            {% if question.common %}style="color:lightgray;"{% endif %}></i>
                                                    </button>
                                                </div>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card z-depth-0 bordered">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                    Common Exams
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
                            <div id="common_settings_div" class="card-body">
                                <form id="form-exam-settings-common-{{ comex.id }}" method="post" style="padding:20px;max-width:1500px;" action="{% url 'validate_common_exams_settings' comex.pk %}">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <h6>Available exams</h6>
                                        </div>
                                        <div style="width:70px!important;"></div>
                                        <div class="col-sm-5">
                                            <h6>Selected exams</h6>
                                        </div>
                                    </div>
                                    {% csrf_token %}
                                    <div class="row" style="max-width:1500px;">
                                        <div class="col-sm-5">
                                            <select name="{{ comex.id }}_common_from[]" id="{{ comex.id }}_multiselect" class="form-control" size="8" multiple="multiple">
                                                {% for available_common in comex.get_available_common_exams %}
                                                <option value="{{ available_common.id }}">{{ available_common.code }} - {{ available_common.name }} - {{ available_common.date }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div style="width:70px!important;">
                                            <button type="button" id="{{ comex.id }}_multiselect_rightAll" class="btn"><i class="fa-solid fa-angles-right"></i></button>
                                            <button type="button" id="{{ comex.id }}_multiselect_rightSelected" class="btn "><i class="fa-solid fa-angle-right"></i></button>
                                            <button type="button" id="{{ comex.id }}_multiselect_leftSelected" class="btn "><i class="fa-solid fa-angle-left"></i></button>
                                            <button type="button" id="{{ comex.id }}_multiselect_leftAll" class="btn "><i class="fa-solid fa-angles-left"></i></button>
                                        </div>
                                        <div class="col-sm-5">
                                            <select name="{{ comex.id }}_common_to[]" id="{{ comex.id }}_multiselect_to" class="form-control" size="8" multiple="multiple">
                                                {% for comex in comex.get_common_exams_without_common.all %}
                                                    <option value="{{ comex.id }}">{{ comex.code }} - {{ comex.name }} - {{ comex.date }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div>
                                        <button type="button" class="btn btn-secondary btn-sm" onclick="window.location.reload();">Cancel</button>
                                        <button type="submit" class="btn btn-dark btn-sm">Validate</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card z-depth-0 bordered">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                    Users
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
                            <div class="card-body">
                                <div class="row" style="max-width:1500px;">
                                    <div class="col-sm-6">
                                        <ul class="list-group" id="currUsersList-{{ comex.id }}">
                                            {% for exam_user in comex.exam_users.all %}
                                                <li id="{{ comex.id }}_{{ exam_user.user.username }}" class="list-group-item" style="display: flex;justify-content: space-between;padding:5px;border:1px solid #ebebeb;">
                                                    <div>
                                                        <button class="btn btn-light btn-sm" style="margin-right:10px;" onclick="validateUsers({{ comex.id }},'{{ exam_user.user.username }}')"><i class="fa-solid fa-circle-minus fa-xl" style="margin-right:5px;color:red;"></i></button>
                                                        {{ exam_user.user.username }} - {{ exam_user.user.first_name }}&nbsp;&nbsp;{{ exam_user.user.last_name }} - {{ exam_user.user.email }}
                                                    </div>
                                                    <div>
                                                        {% for user_group in users_groups_add.all %}
                                                            <div class="form-check form-check-inline" style="margin-top:5px;">
                                                                <input class="form-check-input" type="radio" name="user_group_radio_{{ comex.id }}_{{ exam_user.user.username }}" id="user_group_radio_{{ comex.id }}_{{ exam_user.user.username }}-{{ user_group.id }}" value="{{ user_group.id }}"
                                                                    {% if exam_user.group.id == user_group.id %} checked {% endif %}>
                                                                <label class="form-check-label" for="user_group_radio_{{ comex.id }}_{{ exam_user.user.username }}-{{ user_group.id }}">{{ user_group.name }}</label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-sm-6" style="background-color: #ebebeb;padding:10px;">
                                        <h6>Add Users</h6>
                                        <div style="display:flex;">
                                            <input id="newUserEmail-{{ comex.id }}" class="form-control" type="text" style="width:400px;" placeholder="Email">
                                            <button class="btn btn-dark btn-sm" id="search_ldap_bt" onclick="searchLdap({{ comex.id }});" type="button"><i class="fa-solid fa-magnifying-glass" style="margin-right: 5px;"></i>Search</button>
                                        </div>
                                        <hr>
                                        <ul  class="list-group" id="newUsersList-{{ comex.id }}"></ul>
                                    </div>
                                </div>
                                <hr>
                                <div>
                                    <button type="button" class="btn btn-secondary btn-sm" onclick="cancelUsers({{ comex.id }});">Cancel</button>
                                    <button type="button" class="btn btn-dark btn-sm" onclick="validateUsers({{ comex.id }});">Validate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card z-depth-0 bordered">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseSix"
                                        aria-expanded="true" aria-controls="collapseSix">
                                    Modules
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix">
                            <div class="card-body">
                                <form id="form-exam-options-{{ comex.id }}" method="post" style="padding:20px;">
                                    {% csrf_token %}
                                    <div class="custom-control custom-switch mb-3">
                                      <input class="custom-control-input" type="checkbox" name="review_option_{{ comex.id }}" id="review_option_{{ comex.id }}" {% if comex.review_option == 1 %} checked {% endif %}>
                                      <label class="custom-control-label" for="review_option_{{ comex.id }}">Review module</label>
                                    </div>
                                    <div class="custom-control custom-switch mb-3">
                                      <input class="custom-control-input" type="checkbox"  name="amc_option_{{ comex.id }}" id="amc_option_{{ comex.id }}" {% if comex.amc_option == 1 %} checked {% endif %}>
                                      <label class="custom-control-label" for="amc_option_{{ comex.id }}">AMC module</label>
                                    </div>
                                    <div class="custom-control custom-switch mb-3">
                                      <input class="custom-control-input" type="checkbox"  name="res_and_stats_option_{{ comex.id }}" id="res_and_stats_option_{{ comex.id }}" {% if comex.res_and_stats_option == 1 %} checked {% endif %}>
                                      <label class="custom-control-label" for="res_and_stats_option_{{ comex.id }}">Results & stats module</label>
                                    </div>
                                    <div class="custom-control custom-switch mb-3">
                                      <input class="custom-control-input" type="checkbox"  name="prep_option_{{ comex.id }}" id="prep_option_{{ comex.id }}" {% if comex.prep_option == 1 %} checked {% endif %} disabled>
                                      <label class="custom-control-label" for="prep_option_{{ comex.id }}">Preparation module</label>
                                    </div>
                                    <hr>
                                    <div>
                                        <button type="button" onclick="updateExamOptions({{ comex.pk }});" class="btn btn-dark btn-sm">Validate</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="modal fade" id="displayPdfModal-{{ comex.id }}" tabindex="-1" role="dialog" style="">
              <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:1050px;height:1050px;">
            
                  <div class="modal-body">
                    <button type="button" class="close btn btn-default" data-dismiss="modal" aria-label="Close">CLOSE</button>
                  </br>
                    <div id="embedPdf"></div>
                  </div>
                </div>
              </div>
            </div>
            
{#            <div class="modal fade" id="examOptionsModal-{{ comex.id }}" tabindex="-1" aria-labelledby="examOptionsModalLabel" aria-hidden="true">#}
{#                <div class="modal-dialog modal-dialog-centered modal-lg">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-header">#}
{#                            <h5 class="modal-title" id="imageModalLabel">Exam options</h5>{{ comex.code }}#}
{#                            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" aria-label="Close">Close</button>#}
{#                        </div>#}
{#                        <div class="modal-body">{{ comex.amc_option }}#}
{#                            <form id="form-exam-options" method="post" style="padding:20px;">#}
{#                                {% csrf_token %}#}
{#                                <div class="custom-control custom-switch mb-3">#}
{#                                  <input class="custom-control-input" type="checkbox" name="review_option" id="review_option_check" {% if comex.review_option == 1 %} checked {% endif %}>#}
{#                                  <label class="custom-control-label" for="review_option_check">Review module</label>#}
{#                                </div>#}
{#                                <div class="custom-control custom-switch mb-3">#}
{#                                  <input class="custom-control-input" type="checkbox"  name="amc_option" id="amc_option" {% if comex.amc_option == 1 %} checked {% endif %}>#}
{#                                  <label class="custom-control-label" for="amc_option">AMC module</label>#}
{#                                </div>#}
{#                                <div class="custom-control custom-switch mb-3">#}
{#                                  <input class="custom-control-input" type="checkbox"  name="res_and_stats_option" id="res_and_stats_option" {% if comex.res_and_stats_option == 1 %} checked {% endif %}>#}
{#                                  <label class="custom-control-label" for="res_and_stats_option">Results & stats module</label>#}
{#                                </div>#}
{#                                <div class="custom-control custom-switch mb-3">#}
{#                                  <input class="custom-control-input" type="checkbox"  name="prep_option" id="prep_option" {% if comex.prep_option == 1 %} checked {% endif %} disabled>#}
{#                                  <label class="custom-control-label" for="prep_option">Preparation module</label>#}
{#                                </div>#}
{#                                <div style="text-align: right;">#}
{#                                    <button type="button" onclick="updateExamOptions({{ comex.pk }});" class="btn btn-dark btn-sm">Validate</button>#}
{#                                </div>#}
{#                            </form>#}
{#                        </div>#}
{#                        <div class="modal-footer">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="modal fade" id="manageUsersModal-{{ comex.id }}" tabindex="-1" role="dialog" aria-labelledby="manageUsersModalLabel" aria-hidden="true">#}
{#              <div class="modal-dialog modal-xl" role="document">#}
{#                <div class="modal-content">#}
{#                  <div class="modal-header">#}
{#                    <h5 class="modal-title" id="manageUsersModalLabel">Manage Users</h5>#}
{#                    <button type="button" class="close" onclick="cancelUsers({{ comex.id }});" aria-label="Close">#}
{#                      <span aria-hidden="true">&times;</span>#}
{#                    </button>#}
{#                  </div>#}
{#                  <div id="manageUsersModalBody-{{ comex.id }}" class="modal-body">#}
{#                    <h6>Users</h6>#}
{#                    <ul class="list-group" id="currUsersList-{{ comex.id }}">#}
{#                        {% for exam_user in comex.exam_users.all %}#}
{#                            <li id="{{ comex.id }}_{{ exam_user.user.username }}" class="list-group-item" style="display: flex;justify-content: space-between;padding:5px;">#}
{#                                <div>#}
{#                                    <button class="btn btn-light btn-sm" style="margin-right:10px;" onclick="validateUsers({{ comex.id }},'{{ exam_user.user.username }}')"><i class="fa-solid fa-circle-minus fa-xl" style="margin-right:5px;color:red;"></i></button>#}
{#                                    {{ exam_user.user.username }} - {{ exam_user.user.first_name }}&nbsp;&nbsp;{{ exam_user.user.last_name }} - {{ exam_user.user.email }}#}
{#                                </div>#}
{#                                <div>#}
{#                                    {% for user_group in users_groups_add.all %}#}
{#                                        <div class="form-check form-check-inline" style="margin-top:5px;">#}
{#                                            <input class="form-check-input" type="radio" name="user_group_radio_{{ comex.id }}_{{ exam_user.user.username }}" id="user_group_radio_{{ comex.id }}_{{ exam_user.user.username }}" value="{{ user_group.id }}"#}
{#                                                {% if exam_user.group.id == user_group.id %} checked {% endif %}>#}
{#                                            <label class="form-check-label" for="user_group_radio_{{ comex.id }}_{{ exam_user.username }}">{{ user_group.name }}</label>#}
{#                                        </div>#}
{#                                    {% endfor %}#}
{#                                </div>#}
{#                            </li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                    <hr>#}
{#                    <div>#}
{#                        <h6>Add Users</h6>#}
{#                        <input id="newUserEmail-{{ comex.id }}" class="form-control" type="text" placeholder="Email">#}
{#                      </br>#}
{#                      <button class="btn btn-dark btn-sm" id="search_ldap_bt" onclick="searchLdap({{ comex.id }});" type="button"><i class="fa-solid fa-magnifying-glass" style="margin-right: 5px;"></i>Search</button>#}
{#                    </div>#}
{#                    <ul  class="list-group" id="newUsersList-{{ comex.id }}"></ul>#}
{#                </div>#}
{#                  <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-secondary btn-sm" onclick="cancelUsers({{ comex.id }});">Cancel</button>#}
{#                    <button type="button" class="btn btn-dark btn-sm" onclick="validateUsers({{ comex.id }});">Validate</button>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
        {% endfor %}
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="create-scale-modal" style="margin-left:-100px;">
      <div class="modal-dialog" role="document">
          <div class="modal-content" id="create-scale-modal-content">{{ comex.id }}

          </div>
      </div>
    </div>


{% else %}

<h4>You are not allowed to view this page !</h4>

{% endif %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css" integrity="sha512-3q8fi8M0VS+X/3n64Ndpp6Bit7oXSiyCnzmlx6IDBLGlY5euFySyJ46RUlqIVs0DPCGOypqP8IRk/EyPvU28mQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
.slider-selection.tick-slider-selection, .slider-tick.in-selection {
	background: #989898;
}
.slider-handle {
	background: #000;
}
</style>
<script>

$(window).on("load",function(){
    {% for comex in exam.get_common_exams_yc_common %}   
        
        $('#{{ comex.id }}_multiselect').multiselect();
        
        $("#create-scale-button").modalForm({
            formURL: "{% url 'create_scale' comex.pk %}",
            modalID: "#create-scale-modal"
        });

        <!--DISPLAY PDF CATALOG -->
        $('#displayPdfModal-{{ comex.id }}').on('show.bs.modal', function (event) {
            document.getElementById("embedPdf").innerHTML = "<embed src={% url 'catalogPdf' comex.pk %} toolbar=0&navpanes=0&scrollbar=0 style=\"width:1000px; height:1000px;\" frameborder=\"0\">";
        })

        <!--QUESTIONS EVENTS-->
        <!--question-common checkboxes-->
        {% for question in comex.questions.all %}
            $('#common-{{ question.pk }}-1').on('click', function() {
            updateQuestion({{ question.pk }},'common', 1,{{ comex.pk }});
            });
            $('#common-{{ question.pk }}-2').on('click', function() {
            updateQuestion({{ question.pk }},'common', 0,{{ comex.pk }});
            });
        {% endfor %}

        <!--question-type button-groups-->
        {% for question in comex.questions.all %}
            {% for question_type in question_types %}
                $('#type-{{ question.pk }}-{{ question_type.pk }}').on('click', function() {
                updateQuestion({{ question.pk }},'question_type_id', {{ question_type.pk }},{{ comex.pk }});
            });
            {% endfor %}
        {% endfor %}

        <!--question-answers button-groups-->
        {% for question in comex.questions.all %}
            {% if question.question_type.id <= 2 %}
                answers_range = Array.from({ length: {{ question.nb_answers }}+3 }, (value, index) => 1 + index);
                label_positions = [];
                for(i in answers_range) {
                    label_positions.push(100/(answers_range.length-1)*i);
                }
                slider = $('#nb-answers-slider-{{ question.pk }}');
                slider.bootstrapSlider({
                    ticks: answers_range,
                    ticks_labels: answers_range,
                    ticks_positions: label_positions,
                    ticks_snap_bounds: 1
                });


                $('#nb-answers-{{ question.pk }}').on('slideStop',function(el){
                    updateQuestion({{ question.pk }},'nb_answers',el.value,{{ comex.pk }});

                });
            {% endif %}
        {% endfor %}

        <!--question-max-pts input-->
        {% for question in comex.questions.all %}
            $('#maxpts-{{ question.pk }}').on('input', function() {
            updateQuestion({{ question.pk }},'max_points', this.value,{{ comex.pk }});
            });
        {% endfor %}
    {% endfor %}

    $('a[data-toggle="pill"]').on('show.bs.tab', function(e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab && $(activeTab).length > 0){
        $('#exam-info-pills-tab a[href="' + activeTab + '"]').tab('show');
    }else{
        $('#exam-info-pills-tab a[href="#pills-' + {{ exam.get_common_exams_yc_common.0.id }} + '"]').tab('show');
    }

})

{% for comex in exam.get_common_exams_yc_common %}
$("#exam_date-{{ comex.id }}").on("change", function() {
    let pickedDate = $("input").val();
    updateExamDate({{ comex.id }},pickedDate);
});

document.getElementById("newUserEmail-{{ comex.id }}").addEventListener("keypress", function(event) {
  if (event.key === "Enter") {
    // Cancel the default action, if needed
    event.preventDefault();
    // Trigger the button element with a click
    document.getElementById("search_ldap_bt-{{ comex.id }}").click();
  }
});
{% endfor %}

function updateExamDate(exam_id,date){
    $.ajax({
        url: "{% url 'update_exam_date' %}",
        type: "POST",
        dataType: "json",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'pk' : exam_id,
            'date' : date,
        },
        complete: function () {
            $("#exam_date_column-"+exam_id).load(location.href + " #exam_date_column-"+exam_id );
        },
        error: (error) => {
            console.log(error);
        }
    });
}

function searchLdap(exam_id){
    var email = document.getElementById("newUserEmail-"+exam_id).value;

    var add_User_error = document.getElementById("addUserError-"+exam_id);
    if (typeof(add_User_error) != 'undefined' && add_User_error != null)
    {
      add_User_error.remove();
    }

    $.ajax({
        url: "{% url 'ldap_search_exam_user_by_email' %}",
        type: "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'pk' : exam_id,
            'email' : email,
        },
        success: (data) => {
            if(data==="exist"){
                let add_User_error = document.createElement('div');
                add_User_error.setAttribute("class","alert alert-warning");
                add_User_error.setAttribute("role","alert")
                add_User_error.innerHTML = "User already present as a User for this exam !";
                document.getElementById("manageUsersModalBody-"+exam_id).appendChild(add_User_error);
            }else{
                let list = document.getElementById("newUsersList-"+exam_id);
                let li = document.createElement('li');
                let remove_bt = document.createElement('button')
                let user_info = document.createElement('div')
                remove_bt.textContent = 'remove';
                remove_bt.setAttribute("class","btn btn-light btn-sm");
                remove_bt.setAttribute("style","margin-right:10px;");
                remove_bt.addEventListener('click', () => {
                    document.getElementById(data).remove();
                });
                remove_bt.innerHTML = '<i class="fa-solid fa-circle-minus fa-xl" style="margin-right:5px;color:red;"></i>'
                user_info.appendChild(remove_bt);
                li_txt = data.replace(/;/g,' ');
                user_info.appendChild(document.createTextNode(li_txt));
                li.appendChild(user_info);
                users_groups_div = document.createElement('div');
                users_groups_div.setAttribute("style","margin-top:5px;")
                {% for user_group in users_groups_add.all %}
                    username = li_txt.split(" ")[0]
                    users_groups_radios_div = document.createElement('div')
                    users_groups_radios_div.setAttribute("class","form-check form-check-inline");
                    users_groups_radios_div.innerHTML = '<input class="form-check-input" type="radio" name="user_group_radio_'+exam_id+'_'+username+'" id="user_group_radio_'+exam_id+'_'+username+'_{{ user_group.id }}" value="{{ user_group.id }}" {% if user_group.id == 2 %}checked{% endif %}>'+
                                                '<label class="form-check-label" for="user_group_radio_'+exam_id+'_'+username+'_{{ user_group.id }}">{{ user_group.name }}</label>'
                    users_groups_div.appendChild(users_groups_radios_div);
                {% endfor %}
                li.appendChild(users_groups_div);
                
                li.setAttribute("id",data);
                li.setAttribute("class","list-group-item");
                li.setAttribute("style","display: flex;justify-content: space-between;padding:5px;border:1px solid #ebebeb;");
                list.appendChild(li);
                document.getElementById("newUserEmail-"+exam_id).value = "";
             }
        },
        error: (error) => {
            let add_User_error = document.createElement('div');
            add_User_error.setAttribute("class","alert alert-warning");
            add_User_error.setAttribute("role","alert")
            add_User_error.innerHTML = "Cannot find user with this email address in EPFL LDAP !";
            document.getElementById("manageUsersModalBody-"+exam_id).appendChild(add_User_error);
            console.log(error);
        }
    });
}

function validateUsers(exam_id,username_to_remove = null){
    var new_users_li = document.getElementById("newUsersList-"+exam_id).querySelectorAll("li");
    var curr_users_li = document.getElementById("currUsersList-"+exam_id).querySelectorAll("li");
    
    let users = [];
    for(let i=0; i<curr_users_li.length;i++) {
        group_id = null;
        curr_id = curr_users_li[i].id;
        user = curr_users_li[i].children[0].innerText;
        user_split = user.split(" - ");
        username = user_split[0].trim();
        firstname = user_split[1].split("  ")[0];
        lastname = user_split[1].split("  ")[1];
        useremail = user_split[2];
        if(!curr_id.startsWith("delete_"))
            group_id = document.querySelector('input[type=radio][name=user_group_radio_'+exam_id+'_'+username+']:checked').value;
        if(username !== username_to_remove){
            if(curr_id.startsWith('delete_')){
                username = 'delete_'+username;
            }
            users.push(username+";"+firstname+";"+lastname+";"+useremail+";"+group_id);
        }else{
            li_id = exam_id+"_"+username;
            li_remove = document.getElementById(li_id);
            li_remove.style.textDecoration = 'line-through';
            li_remove.id = "delete_"+li_id;
        }
    }
    for(let i=0; i<new_users_li.length;i++) {
        user = new_users_li[i].innerTxt;
        user_split = user.split(" - ");
        username = user_split[0].trim();
        firstname = user_split[1].split("  ")[0];
        lastname = user_split[2].split("  ")[1];
        useremail = user_split[3]
        group_id = document.querySelector('input[type=radio][name=user_group_radio_'+exam_id+'_'+username+']:checked').value;
        users.push(username+";"+firstname+";"+lastname+";"+useremail+";"+group_id);
    }

    if(username_to_remove == null){
        let list = document.getElementById("newUsersList-"+exam_id);
        list.innerHTML = '';
        document.getElementById("newUserEmail-"+exam_id).value = '';
        $.ajax({
            url: "{% url 'update_exam_users' %}",
            type: "POST",
            dataType: "json",
            data : {
                'csrfmiddlewaretoken' : "{{ csrf_token }}",
                'pk' : exam_id,
                'users_list' : users,
            },
            complete: function () {
                if( username_to_remove == null) {
                    $('.modal').modal('hide');
                    location.reload();
                }
            },
            error: (error) => {
                console.log(error);
            }
        });
    }
}

function cancelUsers(exam_id){
    var curr_users_li = document.getElementById("currUsersList-"+exam_id).querySelectorAll("li");
    for(let i=0; i<curr_users_li.length;i++) {
        curr_id = curr_users_li[i].id;
        if(curr_id.startsWith('delete_')){
            li_restore = document.getElementById(curr_id);
            li_restore.style.textDecoration = '';
            li_restore.id = curr_id.replace('delete_','');
        }
    }
    let list = document.getElementById("newUsersList-"+exam_id);
    list.innerHTML = '';
    document.getElementById("newUserEmail-"+exam_id).value = '';
    $('.modal').modal('hide');
}
<!--EXAM AJAX UPDATE FUNCTIONS-->
function updateQuestion(pk,field,value,exam_pk){
    //get current active tab if overall
    {% if comex.common_exams %}
        var activeNavPills = "#pills-"+exam_pk
    {% endif %}
    $('#loadingModal').modal('show');
    $.ajax({
            url : "{% url 'update_question' %}",
            type : "POST",
            data : {
                'csrfmiddlewaretoken' : "{{ csrf_token }}",
                'pk' : pk,
                'field' : field,
                'value' : value
            },
            beforeSend : function(){

            },
            complete: function () {

            },
            success : function(result) {
                $('#loadingModal').modal('hide');
                sessionStorage.setItem("regen_stats", "true");
                sessionStorage.setItem("scrolly",document.documentElement.scrollTop);
                window.location.href = "{% url 'examInfo' exam.pk %}?dataUpdated=true";


            },
            error: (error) => {
                console.log(error);
            }
    });
}

function updateExamOptions(exam_pk){
    data = $("#form-exam-options-"+exam_pk).serialize();
    $.ajax({
            url : "/update_exam_options/"+exam_pk,
            type : "POST",
            data : data,
            beforeSend : function(){
                $('#loadingModal').modal('show');
            },
            complete: function () {
                location.replace("/examInfo/"+exam_pk);
            },
            success: (data) => {
                $('#loadingModal').modal('hide');
                $('examOptionsModal').modal('hide');
            },
            error: (error) => {
                console.log(error);
            }
        });
}

window.onload = function() {
    var regen_stats = sessionStorage.getItem("regen_stats");
    if (regen_stats) {
        sessionStorage.removeItem("regen_stats");
        $('#alert_regen_stats').show();
    }
    var scroll_y = sessionStorage.getItem("scrolly");
    if (scroll_y){
        document.documentElement.scrollTop = scroll_y;
        sessionStorage.removeItem("scrolly");
    }
}


</script>
{% endblock %}
