{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block title %}Exam info {% endblock %}

{% block scripts %}


  {% endblock %}

  {% block content %}

{% if user_allowed %}
  <h4>Exam Info</h4>

  EXAM INFO

  {{ exam }}
{% endif %}

<p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Toggle width collapse
  </button>
</p>
<div style="min-height: 120px;">
  <div class="collapse collapse-horizontal" id="collapseWidthExample">
    <div class="card card-body" style="width: 300px;">
      This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
    </div>
  </div>
</div>








{% endblock %}
