{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}Exam info {% endblock %}

{% block scripts %}
let groupForm, container, addButton, totalForms, formNum
{% endblock %}

{% block content %}

{% if user_allowed %}


{% endif %}
<h4>MANAGE PAGES GROUP</h4>

<form id="form-container" method="POST">
    {% csrf_token %}
    {{ exam_pages_groups_formset.management_form }}
    <button type="submit" style="margin-top:20px;margin-bottom:20px;" class="btn btn-primary btn-sm">Save Groups</button>
    {% for form in exam_pages_groups_formset.forms %}
    <div class="exam-pages-group-form">
    {{form.as_table}}
    </div>
    {% endfor %}
    <div class="exam_pages_groups_formset_empty_form" hidden>
      {{exam_pages_groups_formset.empty_form}}
    </div>
    <button id="add-form" type="button" style="margin-top:20px;" class="btn btn-outline-info btn-sm">Add Another Group</button>
</form>

<script type="text/javascript">
  groupForm = document.querySelectorAll(".exam-pages-group-form")
  container = document.querySelector("#form-container")
  addButton = document.querySelector("#add-form")
  totalForms = document.querySelector("#id_form-TOTAL_FORMS")
  emptyForm = document.querySelector(".exam_pages_groups_formset_empty_form")

  formNum = groupForm.length-1
  addButton.addEventListener('click', addForm)

  function addForm(e){
    e.preventDefault()

    newGroupForm = emptyForm.cloneNode(true)
    formRegex = RegExp(`form-__prefix__-`,'g')

    formNum++
    newGroupForm.innerHTML = newGroupForm.innerHTML.replace(formRegex, `form-${formNum}-`)
    newGroupForm.removeAttribute('hidden')
    container.insertBefore(newGroupForm,addButton)
    totalForms.setAttribute('value', `${formNum+1}`)
  }

</script>












{% endblock %}
