{% load crispy_forms_tags %}
<div id="scaleCreate"  style="padding:10px;width:100%;">
    <button type="button" class="close btn btn-default" onclick="$('#modal').modal('hide');"  aria-label="Close">CLOSE</button>
    <h5 class="modal-title" style="margin-top:20px;">Add Scale</h5>
    <form method="post" style="width:900px;">{% csrf_token %}
        <table cellpadding="10" style="margin-bottom:50px;">
          {{ form.as_table }}
          <!-- <tr>
            <td/>
            <td>
              information about the formula :
            </td>
          </tr> -->
        </table>
        <input type="submit" class="btn btn-dark btn-sm" value="validate"/>
    </form>
</div>

<script>
    
</script>
