{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% load django_vite %}
{% block title %}AMC Manual Data Capture{% endblock %}

{% block extra_head %}
    {% vite_asset 'src/views/amc/amc_data_capture_manual/index.ts' %}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-start align-items-center mb-4">
        <h3 style="margin: 0;">Manual Data Capture</h3>
        <a href="{% url 'amc_view' exam_selected.pk %}"
           class="btn btn-outline-dark btn-sm ml-4">
            <i class="fas fa-arrow-left fa-lg" style="margin-right: 10px;"></i>Back to AMC Data Capture
        </a>
    </div>

    <div id="amc-data-capture" tabindex="0" class="d-flex"
         data-scan-url="{% url 'get_amc_scan_url' exam_selected.pk %}"
         data-marks-url="{% url 'get_amc_marks_positions' exam_selected.pk %}"
         data-update-zone-url="{% url 'update_amc_mark_zone' exam_selected.pk %}">

        <div id="scan_page" style="height: 80vh;">
            <canvas id="canvas-scan"></canvas>
        </div>

        <div class="list-group" style="width: 50rem; margin-left: 16px; height: 85vh;">
            <table id="table-copies-pages" class="table table-sm table-striped"
                   data-api-url="{% url 'api-amc-data-capture-manual-list' exam_pk=exam_selected.pk %}"
            >
                <thead>
                    <tr>
                        <th>Copy</th>
                        <th>Page</th>
                        <th>Questions</th>
                        <th>State</th>
                        <th>MSE</th>
                        <th>Sensitivity</th>
                        <th>Man</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}