{% extends 'base.html' %}

{% block title %}Upload scans{% endblock %}

{% block scripts %}

function toto(){
  alert("toto");
}

function startUpload(pk,filename){

	url = "{% url 'start_upload_scans' 999999 'FILENAME' %}".replace('999999',pk).replace('FILENAME',filename)

	$.ajax({
		url : url,
		type : "POST",
		data : {
			'csrfmiddlewaretoken' : "{{  csrf_token  }}"
		},
		beforeSend : function(){
			$('#loadingModal').modal('show');
		},
		complete: function () {
			$('#loadingModal').modal('hide');
		},
		success : function(result) {
			window.location.href += "?dataUpdated=true";
			window.location.reload();
		}
	});
}


{% endblock %}

{% block content %}
<div id="uploadScansDiv" style="padding:10px;width:100%;margin-top:100px;color:#000;">
	<h3>Upload scans</h3>

	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th>Available files</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for file in files %}
			<tr>
				<td>{{ file }}</td>
				<td><a class="btn btn-primary btn-sm" href="{% url 'start_upload_scans' exam.pk file %}">Start upload</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<h6>{{ message }}</h6>

{% endblock %}
