
{% extends 'base.html' %}
{% load static %}
{% block title %}Upload scans{% endblock %}

{% block content %}
<body>
<div id="uploadScansDiv" style="padding:10px;width:100%;margin-top:100px;color:#000;">
    <h3>Upload scans</h3>

    <form id="uploadForm" method="post" action="{% url 'upload_scans' pk=exam.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <input class="form" type="file" name="exams_zip_file" accept=".zip" required>
            <button type="submit" class="btn btn-dark">Upload</button>
        </div>
    </form>
    <h6>{{ message }}</h6>
</div>
<div id="spinner" class="hidden">
    <img src="{% static 'images/204.gif' %}" alt="Spinner" class="center">
</div>
<script async defer>
    document.addEventListener("DOMContentLoaded", function () {
        var uploadForm = document.getElementById("uploadForm");
        var spinnerElement = document.getElementById("spinner");

        if (uploadForm && spinnerElement) {
            uploadForm.addEventListener("submit", function () {
                spinnerElement.style.display = "block";
                console.log("Le spinner devrait être visible maintenant.");
            });

            window.addEventListener("load", function () {
                spinnerElement.style.display = "none";
                console.log("Le spinner ne devrait plus être visible maintenant.");
            });
        }
    });
</script>
</body>
{% endblock %}

