<form
    class="js-answer-form"
    hx-post="{% url 'prep_answer_panel' exam_selected.pk answer.id %}"
    hx-target="#prep-answer-{{ answer.id }}"
    hx-swap="outerHTML">

    {% csrf_token %}

    {% for hidden in answer_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <div class="answer-row">
        <div class="field-block js-answer-fix-position">
            <label>Fixed</label>
            {{ answer_form.fix_position }}
        </div>

        <div class="field-block js-answer-correct">
            <label>Correct</label>
            {{ answer_form.is_correct }}
        </div>

        <div class="field-block js-answer-text">
            <label>Answer text</label>
            {{ answer_form.answer_text }}
        </div>

        <div class="field-block js-answer-box-type">
            <label>Answer box type</label>
            {{ answer_form.box_type }}
        </div>

        <div class="field-block js-answer-box-height">
            <label>Answer box height</label>
            {{ answer_form.box_height_mm }}
        </div>
    </div>

    <button class="btn btn-dark btn-sm mt-2">Save</button>
</form>