<div class="modal fade" id="modalAddQuestion">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Add question</h5>
            </div>

            <div class="modal-body" id="modalAddQuestionBody">
            </div>

        </div>
    </div>

</div>

<div class="modal fade" id="modalScoringFormulas">

    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Scoring formulas</h5>

                <div class="d-flex align-items-center gap-2">
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
            </div>

            <div class="modal-body" id="modalScoringFormulasBody">

            </div>
        </div>
    </div>
</div>