{% extends 'base.html' %}
{% load static %}

{% block title %}Exam preparation{% endblock %}

{% block extra_head %}
{#    {{ fp_txt_form.media }}#}
    <link rel="stylesheet" type="text/css" href="{% static 'css/preparation.css' %}">
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
{% endblock %}

{% block content %}

<h4><i class="fas fa-edit"></i> Exam Preparation</h4>
    <div id="prep-root" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div class="d-flex align-items-center justify-content-between w-100">
            <button
                type="button"
                class="btn btn-outline-dark btn-sm open-scoring-formulas-modal"
                id="openScoringFormulasModal"
                data-exam-pk="{{ exam_selected.pk }}"
                data-prep-section=""
                data-prep-question=""
                data-prep-answer=""
            ><i class="fa-solid fa-calculator fa-xl" style="margin-right:5px;"></i>Default questions scorings
            </button>
            <div class="d-flex">
                <button class="btn btn-outline-dark btn-sm latex-btn me-2" type="button" onclick="openEditLaTeXFileDialog('commands');">
                    <img src="{% static 'img/LaTeX/latex-original.png' %}" style="height:12px;margin:0px;">
                    <span class="latex-text ms-1">commands</span>
                </button>

                <button class="btn btn-outline-dark btn-sm latex-btn" type="button" onclick="openEditLaTeXPackagesDialog('packages');">
                    <img src="{% static 'img/LaTeX/latex-original.png' %}" style="height:12px;margin:0px;">
                    <span class="latex-text ms-1">packages</span>
                </button>
            </div>
            <button onclick="preview_exam();" class="btn btn-dark btn-sm" type="button">
                <i class="fa-regular fa-file-pdf" style="margin-right:10px;"></i>Preview
            </button>
        </div>

        {% include "./_prep_first_page_card.html" %}
        {% include "./_prep_sections_list.html" %}

        <button style="margin-top:20px;" class="btn btn-light" title="Add Section"
                    hx-post="{% url 'add_prep_section' exam_selected.pk %}"
                    hx-target="#prep-sections-list"
                    hx-swap="beforeend"><i class="fa-solid fa-circle-plus fa-2xl" style="margin-right:5px;color:green;"></i>Add section</button>

        {% include "./_prep_modals.html" %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js"></script>
    <script>
      window.EXAM_PREP_CONFIG = {
        csrfToken: "{{ csrf_token }}",
        examPk: "{{ exam_selected.pk }}",
        urls: {
            previewStart: "{% url 'exam_preview_start' exam_selected.pk %}",
            previewStatus: "{% url 'exam_preview_status' exam_selected.pk 0 %}".replace("/0/", "/__JOB_ID__/"),
            reorderSections: "{% url 'reorder_prep_sections' exam_selected.pk %}",
            scoringFormulasModal: "{% url 'scoring_formulas_modal' exam_selected.pk %}",
            editLatexFile: "{% url 'edit_latex_file' exam_selected.pk %}",
            saveLatexFile: "{% url 'save_latex_edited_file' exam_selected.pk %}",
            editLatexPackages: "{% url 'edit_latex_packages' exam_selected.pk %}",
            saveLatexPackages: "{% url 'save_latex_edited_packages' exam_selected.pk %}",
        },
      };
    </script>
    <script src="{% static 'js/preparation.js' %}"></script>

{% endblock %}
