{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}AMC (auto-multiple-choice){% endblock %}
{% block content %}
{% if user_allowed %}
    <div class="tab-content">

        <h4>AMC (auto-multiple-choice)</h4>

        {%  if project_dir_dict %}
        <ul class="nav nav-pills flex-column flex-sm-row border" id="amc-pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="flex-sm-fill text-sm-center nav-link" id="project-tab" data-toggle="pill" href="#pills-project" role="tab" aria-controls="pills-project" aria-selected="false">Project</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="flex-sm-fill text-sm-center nav-link" id="dataCapture-tab" data-toggle="pill" href="#pills-dataCapture" role="tab" aria-controls="pills-dataCapture" aria-selected="false">Data capture</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="flex-sm-fill text-sm-center nav-link{% if not data_pages %} disabled{% endif %}" id="marking-tab" data-toggle="pill" href="#pills-marking" role="tab" aria-controls="pills-marking" aria-selected="false">Marking</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="flex-sm-fill text-sm-center nav-link{% if not data_pages %} disabled{% endif %}" id="reports-tab" data-toggle="pill" href="#pills-reports" role="tab" aria-controls="pills-reports" aria-selected="false">Results</a>
          </li>
          <li style="padding-left:200px;">
              <button id="view_log_bt" type="button" class="btn btn-outline-secondary btn-sm" onclick="openLogFileDialog();">log file</button>
          </li>
        </ul>
        <div class="tab-content" id="project-pills-tabContent">
          <div class="tab-pane fade" id="pills-project" role="tabpanel" aria-labelledby="pills-project-tab">
              {% include "./amc_preparation.html" %}
          </div>
          <div class="tab-pane fade" id="pills-dataCapture" role="tabpanel" aria-labelledby="pills-dataCapture-tab">
            {% include "./amc_data_capture.html" %}
          </div>
          <div class="tab-pane fade" id="pills-marking" role="tabpanel" aria-labelledby="pills-marking-tab">
            {% include "./amc_marking.html" %}
          </div>
          <div class="tab-pane fade" id="pills-reports" role="tabpanel" aria-labelledby="pills-reports-tab">
            {% include "./amc_results.html" %}
          </div>
        </div>
        {%  else %}
            <div class="alert alert-warning" id="no-amc-project-dir-msg" role="alert" style="margin-top:20px;text-align:center;">
            There is no AMC project directory. Please upload AMC project directory from the left to be able to use this module !
            </div>
        {% endif %}
    </div>






    
    
<div id="view_log_file_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">AMC log file</h5>
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
      </div>
      <div class="modal-body" >
          <textarea class="form-control" id="amc_logfile_text" rows="50" readonly></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>

// store the currently selected tab in the hash value
$("ul.nav-pills > li > a").on("shown.bs.tab", function(e) {
  var curr_tab = $(e.target).attr("id");//.substr(1);
  window.location.hash = curr_tab;
});

// on load of the page: switch to the currently selected tab
var hash = window.location.hash;
if(hash) {
    $(hash).click();//'#amc-pills-tab a[href="' + hash + '"]').tab('show');
}else if ('{{ curr_tab }}' !== 'None') {
    $('{{curr_tab}}').click();
}else{
    $('#project-tab').click();
}

function openLogFileDialog(){
    $.ajax({
        url: "{% url 'view_amc_log_file' exam_selected.pk %}",
        type: "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}"
        },
        success: (data) => {
            document.getElementById('amc_logfile_text').value = data;
            $('#view_log_file_modal').modal('show');
        },
        error: (error) => {
            console.log(error);
        }
    });
}
</script>
{% else %}

<h4>You are not allowed to view this page !</h4>

{% endif %}
    
{% endblock %}
