
{% load custom_tags %}
{% load static %}

<div style="padding:20px;;width:800px;">
    <h6>Marking</h6>
    <div class="mb-3" style="text-align:center;padding:10px;">
        <input class="form-check-input" type="checkbox" value="" id="update_marking_scale">
        <label class="form-check-label" for="update_marking_scale">
        Update Marking Scale
        </label>
        <button type="button" class="btn btn-dark btn-sm" onclick="amc_mark();" style="margin-left:10px;"><i class="fas fa-calculator fa-lg" style="color: #fb2323;margin-right:5px;"></i>Mark</button>
    </div>
    {%  if mean %}
        <div class="alert alert-success" id="mean-msg" role="alert" style="text-align:center;">
            <a type="button" onclick="$('#markingDetailsDialog').modal('show');"  class="btn btn-sm">
                Mean: {{ mean }}<i class="fas fa-info-circle fa-lg" style="margin-left:25px;"></i>
            </a>
        </div>
    {%  else %}
        <div class="alert alert-warning" id="mean-msg" role="alert" style="text-align:center;">
            No marks computed!
        </div>
    {% endif %}
    <hr/>
    <h6>Student identification</h6>
    <div class="form-group row">
        <div class="col-sm-5">Students list : {{ students_list }}</div>
        <form id="students_list_csv_form" method="POST" enctype="multipart/form-data" hidden>
            {% csrf_token %}
            <input type="file" name="students_list_csv" id="students_list_csv" accept=".csv">
        </form>
        <button class="btn btn-dark btn-sm col-sm-2" onclick="$('#students_list_csv').click();"><i class="fas fa-file-csv fa-lg" style="margin-right:5px;"></i>Set file</button>
        <button type="button" class="btn btn-dark btn-sm col-sm-2" onclick="openEditStudentsListDialog();" style="margin-left:10px;"><i class="fas fa-pencil-alt fa-lg" style="margin-right:5px;"></i>Edit list</button>
    </div>
    <div class="alert alert-danger" id="csv_import_error" role="alert" style="text-align:center;" hidden>
    </div>
    <div class="form-group row">
        <label class="col-sm-5" for="automatic_assoc_primary_key">Primary key from this list</label>
        <select id="automatic_assoc_primary_key" class="form-control col-sm-4">
            <option {% if not auto_assoc_pk %} }} selected {% endif %} }}>Choose...</option>
            {% for key in students_list_headers %}
            <option value="{{ key }}"  {% if key == auto_assoc_pk %} }} selected {% endif %} }}>{{ key }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group row">
        <label class="col-sm-5" for="automatic_assoc_code">Code name for automatic association</label>
        <input class="form-control col-sm-4" type="text" value="{{ auto_assoc_code }}" id="automatic_assoc_code" readonly>
    </div>
    <div class="form-group row">
        <label class="col-sm-5">Papers/students association</label>
        <button type="button" class="btn btn-dark btn-sm col-sm-2" onclick="amc_automatic_association();"><img src="{% static 'img/amc_icons/amc-auto-assoc.png' %}" width="16px" height="16px" style="margin-right:10px;"/>Automatic</button>
        <button type="button" class="btn btn-dark btn-sm col-sm-2" onclick="openManualAssociationDialog();" style="margin-left:10px;"><img src="{% static 'img/amc_icons/amc-manual-assoc.png' %}" width="16px" height="16px" style="margin-right:10px;"/>Manual</button>
    </div>
    <hr>
    {%  if count_missing_assoc == 0 %}
        <div class="alert alert-success" id="mean-msg" role="alert" style="text-align:center;">
            All completed answer sheets are associated with a student name!
        </div>
    {%  else %}
        <div class="alert alert-warning" id="mean-msg" role="alert" style="text-align:center;">
            Missing identification for {{ count_missing_assoc }} copies!
        </div>
    {% endif %}
</div>
<div class="modal" id="markingDetailsDialog" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Marking details</h6>
      </div>
      <div class="modal-body" style="overflow:auto">
          <table id="table-marking-details" class="table table-sm table-striped">
            <thead>
              <tr id="table-marking-details-tr-head">
                  {% for key, value in questions_scoring_details.0.items %}
                      {% if key == 'questions' %}
                          {% for question in value %}
                              <th>{{ question.question }} (max={{ question.max_question }})</th>
                          {% endfor %}
                      {% else %}
                        <th>{{ key }}</th>
                      {% endif %}
                  {% endfor %}
              </tr>
            </thead>
            <tbody id="table-marking-details-tbody">
                {% for row in questions_scoring_details %}
                <tr>
                  {% for key, value in row.items %}
                      {% if key == 'questions' %}
                          {% for question in value %}
                              <td>{{ question.score }}</td>
                          {% endfor %}
                      {% else %}
                        <td>{{ value }}</td>
                      {% endif %}
                  {% endfor %}
                </tr>
                {% endfor %}

            </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <a class="btn btn-secondary btn-sm" onclick="$('#markingDetailsDialog').modal('hide');">Close</a>
      </div>
    </div>
  </div>
</div>

<div id="edit_students_list_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit_students_list_modal_title"></h5>
        <span id="students_list_filepath" hidden></span>
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <textarea class="form-control" id="students_list_source_text" rows="50"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-dark btn-sm" onclick="saveStudentsListFile();">Save changes</a>
        <button type="button" class="btn  btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="manualAssociationDialog" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Manual association</h6>
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
      </div>
      <div class="modal-body">
          <table id="manual-association-table" class="table table-sm table-striped" style="max-height:200px;">
            <thead>
              <tr id="manual-association-table-thead">
                  <th>Copy Nr.</th>
                  <th>Automatic</th>
                  <th>Manual</th>
                  <th>img</th>
                  <th>Student</th>
              </tr>
            </thead>
            <tbody id="manual-association-table-tbody">
                
            </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-dark btn-sm" onclick="saveManualAssociation();">Save changes</a>
        <a class="btn btn-secondary btn-sm" onclick="$('#manualAssociationDialog').modal('hide');">Close</a>
      </div>
    </div>
  </div>
</div>
<script>

$('#students_list_csv').change(amc_update_students_file);
function amc_update_students_file (e) {
    var files = e.target.files;
    if (files.length === 1) {
        $('#loadingModal').modal('show');
        form = document.getElementById('students_list_csv_form');
        formData = new FormData(form);
        ok = 1;
        $.ajax({
            url: "{% url 'amc_update_students_file' common_exam_selected.pk %}",
            type: "POST",
            data : formData,
            processData: false,
            contentType: false,
            success: (data) => {
                error_div = document.getElementById('csv_import_error');
                $('#loadingModal').modal('hide');
                if(data!=='ok'){
                    error_div.removeAttribute('hidden');
                    error_div.innerHTML = data;
                }else{
                    error_div.setAttribute('hidden',"");
                    location.replace("{% url 'amc_view' common_exam_selected.pk %}");
                }               
            },
            error: (error) => {
                console.log(error);
            }
        });
    }
}
function amc_mark() {
    amc_process_modal_title = document.getElementById('amc_process_modal_title');
    amc_process_modal_title.innerHTML = "Marking";
    amc_process_modal_body = $('#amc_process_modal_body');
    amc_process_modal_body.text('');
    $('#amc_process_modal').modal('show');
    update_scoring_strategy = document.getElementById('update_marking_scale').checked;
    $.ajax({
        url: "{% url 'call_amc_mark' %}",
        type: "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'exam_pk' : {{ common_exam_selected.pk }},
            'update_scoring_strategy' : update_scoring_strategy,
        },
            xhrFields: {
                // This triggers each time progress is made on the request
                onprogress: function(event) {
                    amc_process_modal_body.html('');
                    var response = event.currentTarget.responseText;
                    amc_process_modal_body.html(response.replace('\n','<br/>'));
                    amc_process_modal_body.scrollTop(amc_process_modal_body.prop("scrollHeight"));
                }
            },
            success: function() {
                amc_process_modal_body.append('** MARKING COMPLETED! **');
            },
            error: function() {
                amc_process_modal_body.html('<p>Error occurred</p>');
            }
    });
}
function amc_automatic_association() {
    $('#loadingModal').modal('show');
    assoc_primary_key = document.getElementById('automatic_assoc_primary_key').value;
    $.ajax({
        url: "{% url 'call_amc_automatic_association' %}",
        type: "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'exam_pk' : {{ common_exam_selected.pk }},
            'assoc_primary_key' : assoc_primary_key,
        },
        success: (data) => {
            $('#loadingModal').modal('hide');
        },
        error: (error) => {
            console.log(error);
        }
    });
}
function openManualAssociationDialog(){
    var table_body = document.getElementById('manual-association-table-tbody')
    removeAllChildNodes(table_body);
    $.ajax({
        url: "{% url 'amc_manual_association_data' %}",
        type: "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'exam_pk' : {{ common_exam_selected.pk }},
        },
        success: (data) => {
            full_data = JSON.parse(data)
            data_assoc_json = JSON.parse(full_data["data_assoc"]);
            data_students_json = JSON.parse(full_data["data_students"])

            students_options = [];
            opt_first = document.createElement("option");
            opt_first.value = 0;
            opt_first.text = "Select...";
            students_options.push(opt_first);
            for (var i = 1; i < data_students_json.length; i++) {
                row_stud = data_students_json[i];
                var option = document.createElement("option");
                option.value = row_stud[0];
                option.text = row_stud[1]+" - " +row_stud[2];
                students_options.push(option);
            }

            for(let i = 0; i < data_assoc_json.length; i++) {
                let row = data_assoc_json[i];
                var tr = document.createElement('tr');
                var td = document.createElement('td');
                td.appendChild(document.createTextNode(row.student));
                tr.appendChild(td);
                var td = document.createElement('td');
                auto = '';
                if(row.auto !== null){
                    auto = row.auto;
                    }
                td.appendChild(document.createTextNode(auto));
                tr.appendChild(td);
                var td = document.createElement('td');
                manual = '';
                if(row.manual !== null) {
                    manual = row.manual;
                }
                td.appendChild(document.createTextNode(manual));
                tr.appendChild(td);
                var td = document.createElement('td');
                var img = document.createElement('img');
                img.src = row.image_path;
                td.appendChild(img);
                tr.appendChild(td);
                var td = document.createElement('td');

                var student_select = document.createElement('select');
                student_select.id = "students-select"+i;
                student_select.setAttribute("class","selectpicker");
                student_select.setAttribute("data-style","btn-dark btn-sm");
                student_select.setAttribute("data-live-search","true");
                student_select.setAttribute("onchange","setManualAssociation("+i+",event);");
                student_select.setAttribute("data-container", "body");
                students_options.forEach(stud => {
                    opt = stud.cloneNode(true);
                    opt.set
                    student_select.appendChild(stud.cloneNode(true));
                });
                td.appendChild(student_select);
                tr.appendChild(td);
                if(manual === '' && auto === ''){
                    tr.style.backgroundColor = "#ff00009e";
                }
                table_body.appendChild(tr);
            };

            $('#manualAssociationDialog').modal('show');
            $('.selectpicker').selectpicker();
        },
        error: (error) => {
            console.log(error);
        }
    });
}

function setManualAssociation(copy_nr, event){
    $.ajax({
        url: "{% url 'amc_set_manual_association' %}",
        async : false,
        type: "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'exam_pk' : {{ common_exam_selected.pk }},
            'copy_nr' : copy_nr,
            'student_id' : event.target.value,
        },
        success: (data) => {
            target = event.target;
            tr = target.parentElement;
            manual_td = tr.children[1]
            manual_td.children[0].innerText = target.value;
        },
        error: (error) => {
            console.log(error);
        }
    });

}
function openEditStudentsListDialog(){
    $.ajax({
        url: "{% url 'edit_amc_file' %}",
        type: "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'exam_pk' : {{ common_exam_selected.pk }},
            'filepath' : 'students_list'
        },
        success: (data) => {
            data = JSON.parse(data);
            document.getElementById('students_list_source_text').value = data[1];
            title = "Edit "+data[0].split("/").slice(-1)[0]
            document.getElementById('edit_students_list_modal_title').innerText = title;
            document.getElementById('students_list_filepath').innerText = data[0];
            $('#edit_students_list_modal').modal('show');
        },
        error: (error) => {
            console.log(error);
        }
    });
}

function saveStudentsListFile(){
    data = document.getElementById('students_list_source_text').value;
    filepath = document.getElementById('students_list_filepath').innerText
    $('#loadingModal').modal('show');
    $.ajax({
        url: "{% url 'save_amc_edited_file' %}",
        async : false,
        type: "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'exam_pk' : {{ common_exam_selected.pk }},
            'data' : data,
            'filepath' : filepath,
            'is_students_list': true,
        },
        success: (data) => {
            error_div = document.getElementById('csv_import_error');
            $('#loadingModal').modal('hide');
            if(data!=='ok'){
                error_div.removeAttribute('hidden');
                error_div.innerHTML = data;
            }else{
                error_div.setAttribute('hidden',"");
                location.replace("{% url 'amc_view' common_exam_selected.pk %}");
            }     
            $('#edit_students_list_modal').modal('hide');
        },
        error: (error) => {
            console.log(error);
        }
    });
}
</script>
