
{% load custom_tags %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" integrity="sha512-A81ejcgve91dAWmCGseS60zjrAdohm7PTcAjjiDWtw3Tcj91PNMa1gJ/ImrhG+DbT5V+JQ5r26KT5+kgdVTb5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div style="padding:10px;width:800px;">
    <div class="mb-3">
        <button type="button" class="btn btn-dark btn-sm" onclick="openSelectSourceFileDialog();" ><i class="fas fa-pencil-alt"></i> Edit source files</button>
    </div>
    <hr/>
    <div class="mb-3">
        <label for="number_of_copies_param" class="form-label">Number of copies:</label>
        <input type="number" class="form-control" id="number_of_copies_param" style="width:200px;" value="{{ number_of_copies_param }}">
    </div>
    <hr/>
    <div class="mb-3">
        <button type="button" class="btn btn-dark btn-sm" onclick="amcUpdateDocuments_process();"><i class="fas fa-sync-alt"></i> Update documents</button>
        <div class="mb-3" style="text-align:right;">
            <a href="{% url 'open_amc_exam_pdf' exam.pk %}" target="_blank" class="btn btn-dark btn-sm" style="margin-left:200px;"><i class="fas fa-file-pdf"></i> File to print</a>
            <a href="{% url 'open_amc_catalog_pdf' exam.pk %}" target="_blank" class="btn btn-dark btn-sm"><i class="fas fa-file-pdf"></i> Catalog</a>
        </div>
        {% if update_documents_msg %}
        <div class="alert alert-success" id="update-documents-msg" role="alert" style="margin-top:20px;text-align:center;overflow-y: auto;max-height:200px;">{{ update_documents_msg }}</div>
        {% else %}
        <div class="alert alert-warning" id="update-documents-msg" role="alert" style="margin-top:20px;text-align:center;"> Please Update documents !</div>
        {% endif %}
    </div>
    <hr/>
    <div class="mb-3">
        <button type="button" class="btn btn-dark btn-sm" onclick="amcLayoutDetection();"><i class="fas fa-ruler-combined"></i> Layout detection</button>
        </br>
        {%  if layout_detection_msg  %}
        <div class="alert alert-success" id="layout-detection-msg" role="alert" style="margin-top:20px;text-align:center;">{{ layout_detection_msg }}</div>
        {%  else %}
         <div class="alert alert-danger" id="layout-detection-msg" role="alert" style="margin-top:20px;text-align:center;">No Layout</div>   
        {% endif %}
    </div>
</div>

<div id="select_source_file_modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Source LaTeX files</h5>
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" aria-label="Close">Close</button>
          </div>
          <div class="modal-body" style="height:75vh;">
            <div class="row" style="height:100%;">
                <div class="col col-sm-4" style="height:100%;">
                    <h4>Folders</h4>
                    <div id="amc-folder-treeview"></div>
                </div>
                <div class="col col-sm-6 border bg-light" style="height:100%">
                    <h4>Files</h4>
                    <div style="margin-left:50px;overflow-y: scroll;height:95%;">
                        <div id="amc-folder-files"></div>
                    </div>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <a type="button" class="btn btn-dark btn-sm" onclick="">Save changes</a>
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
  </div>
</div>

<div id="edit_source_modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit_source_modal_title"></h5>
        <span id="edit_source_modal_filepath" hidden></span>
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <textarea class="form-control" id="amc_source_text" rows="50"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-dark btn-sm" onclick="saveEditedSourceFile();">Save changes</a>
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js" integrity="sha512-Hyk+1XSRfagqzuSHE8M856g295mX1i5rfSV5yRugcYFlvQiE3BKgg5oFRfX45s7I8qzMYFa8gbFy9xMFbX7Lqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ project_dir_dict|json_script:"json_amc_proj_dir" }}
<script>
let amc_updating_documents = false;
const amc_dir_json = JSON.parse(document.getElementById('json_amc_proj_dir').textContent);
setAMCFolderFileListHTML('{{ project_dir_files_list.0.folder }}')

$('#amc-folder-treeview').treeview({
    data:[amc_dir_json],
    collapseIcon:'fas fa-minus',
    expandIcon:'fas fa-plus',
    levels:2,
    enableLinks: true,
    onNodeSelected: function(event, data) {
        setAMCFolderFileListHTML(data.text);
    }
});

function setAMCFolderFileListHTML(dir_name){
    files_list = '';
    {% for dir in project_dir_files_list %}
        dir_folder = '{{ dir.folder }}';
        if(dir_folder == dir_name){
            files_list = '<div class="tab-pane fade show active" id="pills-'+dir_folder+'">';
            files_list += '<ul class="list-group list-group-flush">';
            {% for file in dir.files %}
                file_path = '{{ file.1 }}';
                files_list += '<li class="list-group-item list-group-item-action" onclick="openEditSourceDialog(\''+file_path+'\');">{{ file.0 }}</li>';
            {% endfor %}
            files_list += '</ul>';
            files_list += '</div>';
            document.getElementById('amc-folder-files').innerHTML = files_list;
            return true;
        }
    {% endfor %}

}

function openSelectSourceFileDialog(){
    $('#select_source_file_modal').modal('show');
}

function openEditSourceDialog(filepath){
    $('#select_source_file_modal').modal('hide');
    $.ajax({
        url: "{% url 'edit_amc_file' %}",
        type: "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'exam_pk' : {{ exam.pk }},
            'filepath' : filepath
        },
        success: (data) => {
            document.getElementById('amc_source_text').value = data;
            title = "Edit "+filepath.split("/").slice(-1)[0]
            document.getElementById('edit_source_modal_title').innerText = title;
            document.getElementById('edit_source_modal_filepath').innerText = filepath;
            $('#edit_source_modal').modal('show');
        },
        error: (error) => {
            console.log(error);
        }
    });
}

function saveEditedSourceFile(){
    data = document.getElementById('amc_source_text').value;
    filepath = document.getElementById('edit_source_modal_filepath').innerText
    $.ajax({
        url: "{% url 'save_amc_edited_file' %}",
        type: "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'exam_pk' : {{ exam.pk }},
            'data' : data,
            'filepath' : filepath
        },
        success: (data) => {
            $('#edit_source_modal').modal('hide');
        },
        error: (error) => {
            console.log(error);
        }
    });
}

function amcUpdateDocuments_process() {
    nb_copies = document.getElementById('number_of_copies_param').value;
    amc_process_modal_title = document.getElementById('amc_process_modal_title');
    amc_process_modal_title.innerHTML = "Updating documents";
    amc_process_modal_body = $('#amc_process_modal_body');
    amc_process_modal_body.text('');
    amc_updating_documents = true;
    display_amc_log_file(amc_process_modal_body);
    $('#amc_process_modal').modal('show');
    $.ajax({
        type: 'POST',
        url: '{% url "call_amc_update_documents" %}', // Django URL for your view
       data : {
            'csrfmiddlewaretoken' : '{{ csrf_token }}',
            'exam_pk' : {{ exam.pk }},
            'nb_copies' : nb_copies
        },
        complete: function(data){
            amc_updating_documents = false;
            if(data.responseText.includes('ERR:')){
                setTimeout(function(){
                    amc_process_modal_body.append('\n\n ***** ERRORS DETECTED **** \n\n' + data.responseText);
                    amc_process_modal_body.scrollTop(amc_process_modal_body.prop("scrollHeight"));
                    },1000);
            }else {
                setTimeout(function(){
                    amc_process_modal_body.append('\n\n** UPDATE DOCUMENTS COMPLETED! **');
                    amc_process_modal_body.scrollTop(amc_process_modal_body.prop("scrollHeight"));
                    },1000);
                setTimeout(function(){window.location.reload();},10000);
            }
        },
        error: function(data) {
            amc_process_modal_body.html('<p>Error occurred</p>');
        }
    });
}

function display_amc_log_file(el){
     $.ajax({
        url: "{% url 'view_amc_log_file' exam.pk %}",
        type: "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}"
        },
        success: (data) => {
            el.text(data);
            el.scrollTop(el.prop("scrollHeight"));
            if(amc_updating_documents) {
                setTimeout(function () {
                    el.text(data);
                    el.scrollTop(el.prop("scrollHeight"));
                    display_amc_log_file(el);
                }, 500);
            }
        },

        error: (error) => {
            console.log(error);
        }
    });
}
function amcUpdateDocuments(){
    ajax_info_modal_msg = document.getElementById('ajax_info_modal_msg');
    ajax_info_modal_msg.innerHTML = "Preparation could take some time. A dialog info will display when done !";
    //$('#ajax_info_modal').modal('show');
    nb_copies = document.getElementById('number_of_copies_param').value;
    $.ajax({
        url: "{% url 'call_amc_update_documents' %}",
        type: "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'exam_pk' : {{ exam.pk }},
            'nb_copies' : nb_copies 
        },
        {#success: (data) => {#}
        {#    upd_doc_msg_el = document.getElementById('update-documents-msg');#}
        {#        upd_doc_msg_el.innerText = data;#}
        {#    if(data.includes('ERR:')){#}
        {#        upd_doc_msg_el.className = "alert alert-danger";#}
        {#    }else{#}
        {#        upd_doc_msg_el.className = "alert alert-success";#}
        {#    }#}
        {#    ajax_info_modal_msg.innerHTML = "Preparation has been done !";#}
        {#    $('#ajax_info_modal').modal('show');#}
        {#},#}
        error: (error) => {
            console.log(error);
        },    });
}

function amcLayoutDetection(){
    $('#loadingModal').modal('show');
    $.ajax({
        url: "{% url 'call_amc_layout_detection' %}",
        type: "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'exam_pk' : {{ exam.pk }}
        },
        success: (data) => {
            upd_layout_det_msg_el = document.getElementById('layout-detection-msg');
            upd_layout_det_msg_el.innerText = data;
            if(data.includes('ERR:')){
                upd_layout_det_msg_el.className = "alert alert-danger";
            }else{
                upd_layout_det_msg_el.className = "alert alert-success";
            }
            $('#loadingModal').modal('hide');
        },
        error: (error) => {
            console.log(error);
        },
    });
}





</script>