
{% load static %}

<div style="padding:20px;width:800px;">
    <h6>Data capture after examination</h6>
    <div class="mb-3" style="text-align: center;padding:20px;">
        <button type="button" data-toggle="modal" data-target="#confirmAutomaticDataCaptureModal" class="btn btn-dark btn-sm" style="margin:0 50% 0 0;">
            <img src="{% static 'img/amc_icons/amc-auto-capture.svg' %}" width="16px" height="16px" style="margin-right:10px;"/>
            Automatic
        </button>
        <a href="{% url 'amc_data_capture_manual' exam.pk %}" class="btn btn-dark btn-sm">
            <img src="{% static 'img/amc_icons/amc-manual-capture.svg' %}" width="16px" height="16px" style="margin-right:10px;"/>
            Manual
        </a>
    </div>
    <hr/>
    <div class="mb-3">
        {% if data_pages %}
        <div class="alert alert-success" id="data-exist-msg" role="alert" style="margin-top:20px;text-align:center;">xxxxxxx</div>
        {% else %}
        <div class="alert alert-warning" id="data-exist_msg" role="alert" style="margin-top:20px;text-align:center;">No data</div>
        {% endif %}
        <hr/>
        <div class="alert alert-warning" id="data-exist_msg" role="alert" style="margin-top:20px;text-align:center;">WARNING</div>
    </div>
    <hr/>
    <div class="mb-3">
        <h6>Diagnosis</h6>

        <div class="mb-3" style="width:50%;">
            <table id="table-copies-pages" class="table table-sm table-striped">
            <thead style="width:100%;">
              <tr>
                <th data-sortable="true">Copy</th>
                <th data-sortable="true">Page</th>
                <th data-sortable="true">MSE</th>
                <th data-sortable="true">Sensitivity</th>
                <th></th>
                <th style="display:none;width:0px;">source</th>
                <th style="display:none;width:0px;">questions</th>
              </tr>
            </thead>
            <tbody style="height:50%;">
              {% for row in data_pages %}
              <tr id="table-scan-row-{{ row.copy }}-{{ row.page }}">
                <td>{{ row.copy }}</td>
                <td> {{ row.page }}</td>
                <td>{{ row.mse }}</td>
                <td {% if row.sensitivity > 0 %}style="background-color:red;color:black;"{% endif %}>{{ row.sensitivity }}</td>
                <td>
                    <button type="button" data-toggle="modal" data-target="" class="btn btn-lg btn-sm">
                        <i class="far fa-eye fa-lg"></i>
                    </button>
                </td>
                <td style="display:none;">{{ row.source }}</td>
                <td style="display:none;">{{ row.questions_ids }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
</div>
<div class="modal" id="confirmAutomaticDataCaptureModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Automatic Data Capture</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="padding:20px;">
        <p>From where do you want to import scans ?</p>
        <hr/>
        <div style="margin-top:50px;">
            <h6>Local file system</h6>
            <p>(.jpeg, .jpg, .png, .pdf)</p>
            <form id="amcScansFromLocalFrm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group align-items-center">
                    <div class="col-md-10">
                        <label for="amc_scans" class="custom-file-label form-control-sm">Select scans</label>
                        <input type="file" class="custom-file-input" name="amc_scans_zip_file" id="amc_scans_zip_file" accept=".zip" required/>
                    </div>
                </div>
                <div class="form-group">
                   <div class="col-md-8">
                        <button class="btn btn-primary btn-sm" type="submit">Import</button>
                    </div>
                </div>
            </form>
        </div>
          <hr/>
        <div style="margin-top:50px;">
            <h6>eXamc Review (this app)</h6>
            <div class="form-group">
               <div class="col-md-8">
                    <button class="btn btn-primary btn-sm">Import</button>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<script>
$('#amc_scans_zip_file').on('change',function(){
    filename = this.value.split("\\").slice(-1);
    $(this).siblings(".custom-file-label").addClass("selected").html(filename);
})

{% if data_pages %}
    var table = $("#table-copies-pages").DataTable( {
            scrollY: '55vh',
                "dom": 'rtip',
            "lengthChange": false,
            "paging": false
        } );

    //var filtered_questions_list=[];
    //var question_filter_id=0;
    //var question_filter_name='All';
    //var type_filter='All';
    var curr_selected_id = "table-scan-row-1-1";
    //var canvasScan = document.getElementById("canvasScan");
    //var imgScan = new Image();
    initCopyPagesTableOnClickRowEvent(true);
    $("#table-copies-pages tbody tr:first").trigger('click');
{% endif %}


function initCopyPagesTableOnClickRowEvent(refresh){

    $("#table-copies-pages tbody").on('click', 'tr', function () {
        $(document.getElementById(curr_selected_id)).css('background','');
        $(this).css('background', 'yellow');
        //get_amc_marks_positions(this.cells[0].innerText,this.cells[1].innerText,this.cells[4].innerText);
        curr_selected_id=this.id;
    });

    if(!refresh){
        var table = $("#table-copies-pages").DataTable( {
            scrollY: '40vh',
            "dom": 'rtip',
            "lengthChange": false,
            "paging": false
        } );
    }
}

const amcScansFromLocalFrm = document.getElementById("amcScansFromLocalFrm");

amcScansFromLocalFrm.addEventListener("submit", (e) => {
    e.preventDefault();
    callAutomaticDataCapture();
    $('#confirmAutomaticDataCaptureModal').modal('hide'); 
    
})

function callAutomaticDataCapture(){
    frmData = new FormData($("#amcScansFromLocalFrm")[0])
    frmData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    frmData.append('exam_pk', {{ exam.pk }});
    $('#loadingModal').modal('show');
    $.ajax({
        url: "{% url 'call_amc_automatic_data_capture' %}",
        type: "POST",
        data : frmData,
        contentType: false,
        processData: false,
        success: (data) => {    
            //todo
        },
        error: (error) => {
            console.log(error);
        },
        complete : function(){  
            $('#loadingModal').modal('hide');
        }
    });  
}

</script>




