
{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}Upload AMC project{% endblock %}

{% block content %}
<body>
<ul class="nav nav-pills nav-fill flex-column flex-sm-row border" id="amc-pills-tab"
    style="margin-bottom:10px;">
    {% for comex in exam.get_common_exams_yc_common %}
        <li class="nav-item" role="presentation">
            <a class="flex-sm-fill text-sm-center nav-link {% if comex.id == common_exam_selected.id %}active{% endif %}"
               id="{{ comex.id }}-tab"
               href="{% url 'upload_amc_project' comex.pk %}">
                {% if comex.is_overall %}
                    COMMON
                {% else %}
                    {{ comex.code }}
                    <br>
                    {{ comex.id|get_exam_teachers_short_str }}
               {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
<div id="uploadAMCProjectDiv" style="padding:10px;width:100%;margin-top:100px;color:#000;">
    <h3>Upload AMC projects .zip file</h3>

    <form id="uploadAMCProjectForm" method="post" action="{% url 'upload_amc_project' pk=common_exam_selected.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-md-8">
                <input type="file" name="amc_project_zip_file" id="amc_project_zip_file" accept=".zip" required class="custom-file-input form-control">
                <label class="custom-file-label" for="amc_project_zip_file">Choose .zip file</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                <button class="btn btn-primary" type="submit"><i class="fas fa-cloud-upload-alt" style="margin-right:5px;"></i>Start upload</button>
            </div>
        </div>
    </form>
    <h6>{{ message }}</h6>
</div>
<script>
$("#amc_project_zip_file").on("change", function () {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});

let uploadAMCProjectFrm = document.getElementById('uploadAMCProjectForm');

uploadAMCProjectFrm.addEventListener('submit', function(e) {
    e.preventDefault();
    $('#loadingModal').modal('show');
    uploadAMCProjectFrm.submit();
    $('#loadingModal').modal('hide');
});
</script>

</body>
{% endblock %}

