{% load crispy_forms_tags %}
<div class="modal-header">
    <h5 class="modal-title" id="create-scale-title">Add scale</h5>
    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" aria-label="Close">Close</button>
</div>
<form method="post">{% csrf_token %}
    <div id="create-scale-body" class="modal-body">
        <table cellpadding="10" style="margin-bottom:50px;">
          {{ form.as_table }}
          <!-- <tr>
            <td/>
            <td>
              information about the formula :
            </td>
          </tr> -->
        </table>
    </div>
    <div class="modal-footer" style="text-align:right;">
         <input type="submit" class="btn btn-dark btn-sm" value="validate"/>
    </div>
</form>

