</br>
<h6>REVIEWERS</h6>

<form id="form-container-reviewer" method="POST">
    {% csrf_token %}
    {{ exam_reviewers_formset.management_form }}
    <button type="submit" style="margin-top:20px;margin-bottom:20px;" class="btn btn-primary btn-sm">Save Reviewers</button>
    {% for form in exam_reviewers_formset.forms %}
    <div class="exam-reviewer-form">
        {{ form.as_table }}
    </div>
    {% endfor %}
    <div class="exam_reviewers_formset_empty_form" hidden>
      {{ exam_reviewers_formset.empty_form }}
    </div>
    <br/>
    <button id="add-reviewer-form" type="button" style="margin-top:20px;" class="btn btn-outline-info btn-sm">Add Another Reviewer</button>
</form>

<script type="text/javascript">
  reviewerForm = document.querySelectorAll(".exam-reviewer-form")
  reviewerContainer = document.querySelector("#form-container-reviewer")
  reviewerAddButton = document.querySelector("#add-reviewer-form")
  reviewerTotalForms = document.querySelector("#id_form-TOTAL_FORMS")
  reviewerEmptyForm = document.querySelector(".exam_reviewers_formset_empty_form")

  reviewerFormNum = reviewerForm.length-1
  reviewerAddButton.addEventListener('click', addReviewerForm)

  function addReviewerForm(e){
    e.preventDefault()

    newReviewerForm = reviewerEmptyForm.cloneNode(true)
    formRegex = RegExp(`form-__prefix__-`,'g')

    formNum++
    newReviewerForm.innerHTML = newReviewerForm.innerHTML.replace(formRegex, `form-${formNum}-`)
    newReviewerForm.removeAttribute('hidden')
    reviewerContainer.insertBefore(newReviewerForm,reviewerAddButton)
    totalForms.setAttribute('value', `${formNum+1}`)
  }

</script>
