</br>
<h6>PAGES GROUPS</h6>
{% load crispy_forms_tags %}

{% load custom_tags %}

<form id="form-groups" method="POST">
    {% csrf_token %}
    {{ exam_pages_groups_formset.management_form }}
    <button type="submit" name="submit-groups" style="margin-top:20px;margin-bottom:20px;" class="btn btn-primary btn-sm">Save groups</button>
    <table class="table" style="max-width:500px">
      <thead>
        <tr>
            {% for field in exam_pages_groups_formset.initial_forms.0 %}
            {% if field.label != 'Id' %}
            <th scope="col">{{ field.label }}</th>
            {% endif %}
            {% endfor %}
            <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="group-tbody">
        {% for form in exam_pages_groups_formset.initial_forms %}
        <tr id="group-form">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
            {% if field.label == 'Delete' %}
                <td style="text-align:center;padding-top:35px">{{ field }}</td>
            {% else %}
                <td>{{ field }}</td>
            {% endif %}
            {% endfor %}
            <td><a id="grading-help-bt" class="btn btn-outline-info btn-sm" onclick="openGradingHelpDialog( {{ form.hidden_fields.0.value }} )">Grading Help</a></td>
        </tr>
        {% endfor %}
        <tr class="exam_pages_groups_formset_empty_form" hidden>
            {% for hidden in exam_pages_groups_formset.extra_forms.0.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in exam_pages_groups_formset.extra_forms.0.visible_fields %}
                {% if field.label == 'Delete' %}
                <td style="text-align:center;padding-top:35px">{{ field }}</td>
            {% else %}
                <td>{{ field }}</td>
            {% endif %}
            {% endfor %}
        </tr>
      </tbody>
    </table>
    <a id="add-form" style="margin-top:20px;" class="btn btn-outline-info btn-sm" href="{% url 'add_new_pages_group' exam.pk %}">Add Another Group</a>
</form>

<div id="grading-help-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span hidden id="grading-help-group-id"></span>
        <h5 class="modal-title">Grading Help</h5>
        <button type="button" class="close" onclick="cancelGradingHelp();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <textarea id="grading-help"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" onclick="saveGradingHelp();">Save changes</a>
        <button type="button" class="btn btn-secondary" onclick="cancelGradingHelp();">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
tinymce.init({
    selector: 'textarea#grading-help',
    skin: 'bootstrap',
    plugins: 'lists',
    toolbar: 'h1 h2 bold italic strikethrough blockquote | bullist numlist | backcolor | removeformat help',
    menubar: false,
});

function openGradingHelpDialog(group_id){
     tinymce.get("grading-help").execCommand('RemoveFormat');
     $.ajax({
        url: "{% url 'get_pages_group_grading_help' %}",
        async : false,
        type: "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'pk' : group_id,
        },
        success: (data) => {
            tinymce.get("grading-help").setContent(data);
            $('#grading-help-group-id').val(group_id)
            $('#grading-help-modal').modal('show');
        },
        error: (error) => {
            console.log(error);
        }
    });
}

function cancelGradingHelp(){
    $('#grading-help-modal').modal('hide');
}

function saveGradingHelp(group_id){

    $.ajax({
        url: "{% url 'edit_pages_group_grading_help' %}",
        async : false,
        type: "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'pk' : $('#grading-help-group-id').val(),
            'grading_help' : tinymce.get("grading-help").getContent(),
        },
        success: (data) => {
            $('#grading-help-modal').modal('hide');
        },
        error: (error) => {
            console.log(error);
        }
    });




}

</script>
