- hosts: app
  become: true

  # Load vars directly; paths are anchored to this playbook's folder
  vars_files:
    - "{{ playbook_dir }}/../group_vars/{{ env }}/app.yml"
    - "{{ playbook_dir }}/../group_vars/{{ env }}/vault.yml"

  vars:
#    repo_url: "git@github.com:EPFL-CePro/eXamc.git"
    repo_version: "main"
    app_dir: "/opt/examc"
    env_path: "{{ app_dir }}/.env.{{ env }}"

  tasks:
    - name: Debug app_dir/env
      ansible.builtin.debug:
        msg:
          - "env = {{ env | default('UNSET') }}"
          - "app_dir = {{ app_dir | default('UNSET') }}"
          - "env_path = {{ env_path | default('UNSET') }}"
          - "playbook_dir = {{ playbook_dir | default('UNSET') }}"

    - name: Ensure app dir exists
      ansible.builtin.file:
        path: "{{ app_dir }}"
        state: directory
        mode: "0755"

    - name: Checkout application repository
      ansible.builtin.git:
        repo: "{{ repo_url }}"
        dest: "{{ app_dir }}"
        version: "{{ repo_version }}"
        force: true
      when: not ansible_check_mode

    - block:
        - name: Ensure certs dir exists
          ansible.builtin.file:
            path: "{{ app_dir }}/certs"
            state: directory
            mode: "0755"

        - name: Install TLS fullchain.pem
          ansible.builtin.copy:
            dest: "{{ app_dir }}/certs/fullchain.pem"
            content: "{{ tls_fullchain_pem }}"
            owner: root
            group: root
            mode: "0644"
          no_log: true
          when: tls_fullchain_pem is defined

        - name: Install TLS privkey.pem
          ansible.builtin.copy:
            dest: "{{ app_dir }}/certs/privkey.pem"
            content: "{{ tls_privkey_pem }}"
            owner: root
            group: root
            mode: "0600"
          no_log: true
          when: tls_privkey_pem is defined
      when: use_ssl

    - name: Render remote .env
      ansible.builtin.template:
        src: "../templates/.env.j2"
        dest: "{{ env_path }}"
        owner: root
        group: root
        mode: "0600"
      no_log: true

    - name: Show available profiles
      ansible.builtin.shell: |
        COMPOSE_PROFILES={{ compose_profiles | default('') }} \
        docker compose -f {{ app_dir }}/compose/base.yml -f {{ app_dir }}/compose/{{ env }}.yml \
          config --profiles
      args: { chdir: "{{ app_dir }}" }
      register: profiles_out

    - debug:
        msg:
          - "env={{ env }} compose_profiles='{{ compose_profiles | default('') }}'"
          - "{{ profiles_out.stdout }}"

    - name: Compose up (uses env_file inside compose)
      ansible.builtin.shell: |
        COMPOSE_PROFILES={{ compose_profiles | default('') }} \
        COMPOSE_PROJECT_NAME={{ compose_project_name }} \
        ENV_FILE=.env.{{ env }} \
        docker compose -f {{ app_dir }}/compose/base.yml -f {{ app_dir }}/compose/{{ env }}.yml \
          up -d --build
      args:
        chdir: "{{ app_dir }}"
      when: not ansible_check_mode
