<div id="prep-question-{{ question.id }}" class="border p-3 mt-2 sortable-question" data-question-id="{{ question.id }}">
    <div class="card-header d-flex justify-content-between align-items-center">

        <div class="d-flex align-items-center gap-2">
            <span class="drag-handle" style="cursor:move;margin-right:10px;">
                <i class="fa-solid fa-grip-vertical"></i>
            </span>

            <div class="d-flex align-items-center flex-grow-1"
                 role="button"
                 data-bs-toggle="collapse"
                 data-bs-target="#prep-question-body-{{ question.id }}"
                 aria-expanded="false"
                 aria-controls="prep-question-body-{{ question.id }}"
                 style="cursor:pointer;">
                <span>{{ question.title }}</span>
            </div>
        </div>

        <button
            class="btn btn-sm btn-light float-end"
            hx-post="{% url 'delete_prep_question' exam_selected.pk question.id %}"
            hx-target="#prep-questions-list-{{ section.id }}"
            hx-swap="innerHTML">
            <i class="fa-solid fa-circle-minus fa-xl" style="margin-right:5px;color:red;"></i>
        </button>
    </div>

    <div id="prep-question-body-{{ question.id }}" class="collapse">
        <div class="card-body">
            <form
                hx-post="{% url 'prep_question_panel' exam_selected.pk question.id %}"
                hx-target="#prep-question-{{ question.id }}"
                hx-swap="outerHTML">

                {% csrf_token %}

                {% for hidden in question_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                <div class="question-top-bar">
                    <div class="question-top-left">
                        <div class="field-block">
                            <label class="mt-2">Type</label>
                            {{ question_form.question_type }}
                        </div>

                        <div class="field-inline js-field-random">
                            <label class="mt-2">Randomized answers</label>
                            {{ question_form.random_answers }}
                        </div>

                        <div class="field-block js-field-maxpoints">
                            <label class="mt-2">Max points</label>
                            {{ question_form.max_points }}
                        </div>

                        <div class="field-block js-field-increment">
                            <label class="mt-2">Point increment</label>
                            {{ question_form.point_increment }}
                        </div>
                    </div>

                    <div class="field-inline ms-auto">
                        <label class="mt-2">Cancel question</label>
                        {{ question_form.canceled }}
                    </div>
                </div>

                <hr/>

                <label>Title</label>
                {{ question_form.title }}

                <div class="field-block  js-question-text">
                    <label class="mt-2">Question text</label>
                    {{ question_form.question_text }}
                </div>

                <button class="btn btn-dark btn-sm mt-2">Save</button>
            </form>

            <hr>

            <div id="answers-containers-{{ question.id }}">
                {% include "./_prep_answers_block.html" with exam=exam question=question answers=answers %}
            </div>
        </div>
    </div>
</div>