<div id="scheme-wrapper-{{ grading_scheme.id }}">
  <div class="card">
    <div class="card-body">
      <form method="post"
          hx-post="{% url 'grading_scheme_panel' exam_selected.pk  grading_scheme.id %}"
          hx-target="#grading-scheme-panel"
          hx-swap="innerHTML">
        {% csrf_token %}
        <div class="row align-items-start" style="--bs-gutter-x: 2rem; --bs-gutter-y: .5rem;margin-bottom: 1rem;">
            <div class="col-12 col-md-3">
              <label for="{{ grading_scheme_form.name.id_for_label }}" class="form-label">Name</label>
              {{ grading_scheme_form.name }}
              {% if grading_scheme_form.name.errors %}
                <div class="invalid-feedback d-block">{{ grading_scheme_form.name.errors|striptags }}</div>
              {% endif %}
            </div>

            <div class="col-12 col-md-2">
              <label for="{{ grading_scheme_form.max_points.id_for_label }}" class="form-label">Max points</label>
              {{ grading_scheme_form.max_points }}
              {% if grading_scheme_form.max_points.errors %}
                <div class="invalid-feedback d-block">{{ grading_scheme_form.max_points.errors|striptags }}</div>
              {% endif %}
            </div>

            <div class="col-12 col-md-7">
              <label for="{{ grading_scheme_form.description.id_for_label }}" class="form-label">Description</label>
              {{ grading_scheme_form.description }}
              {% if grading_scheme_form.description.errors %}
                <div class="invalid-feedback d-block">{{ grading_scheme_form.description.errors|striptags }}</div>
              {% endif %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-floppy-disk fa-lg" style="margin-right:10px;"></i>Save</button>
        <button class="btn btn-outline-danger btn-sm"
                hx-post="{% url 'delete_grading_scheme' exam_selected.pk grading_scheme.id %}"
                  hx-target="#grading-scheme-panel"
                  hx-swap="innerHTML"><i class="fa-solid fa-circle-minus fa-xl" style="margin-right:5px;color:red;"></i>Delete</button>
      </form>
    </div>
  </div>

  <!-- Checkboxes (lazy) -->
  <div class="card">
    <div class="card-header fw-semibold">Checkboxes</div>
    <div class="card-body"
         id="chk-panel-{{ grading_scheme.id }}"
         hx-get="{% url 'grading_scheme_checkboxes' exam_selected.id grading_scheme.id %}"
         hx-trigger="revealed"
         hx-target="this"
         hx-swap="innerHtml">
      <div class="text-muted">Loading…</div>
    </div>
  </div>
</div>