
<script src="https://unpkg.com/markerjs2/markerjs2.js"></script>
</br>
<h6>PAGES GROUPS</h6>
{% load crispy_forms_tags %}

{% load custom_tags %}


<form enctype= 'multipart/form-data' id="form-groups" method="POST">
    {% csrf_token %}
    {{ exam_pages_groups_formset.management_form }}
    <button type="submit" name="submit-groups" style="margin-top:20px;margin-bottom:20px;" class="btn btn-primary btn-sm">Save groups</button>
    {% if error_msg %}
        <div class="alert alert-danger " role="alert" style="margin:20px;text-align:center;">{{ error_msg }}</div>
    {% endif %}
    <table class="table" style="max-width:500px">
      <thead>
        <tr>
            {% for field in exam_pages_groups_formset.initial_forms.0 %}
            {% if field.label != 'Id' %}
            <th scope="col">{{ field.label }}</th>
            {% endif %}
            {% endfor %}
            <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="group-tbody">
        {% for form in exam_pages_groups_formset.initial_forms %}
        <tr id="group-form">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
            {% if field.label == 'Delete' %}
                <td style="text-align:center;padding-top:35px">{{ field }}</td>
            {% else %}
                <td>{{ field }}</td>
            {% endif %}
            {% endfor %}
            <td><a id="grading-help-bt" class="btn btn-outline-info btn-sm" onclick="openGradingHelpDialog( {{ form.hidden_fields.0.value }} )">Grading Help</a></td>
            <td><a id="corrector-box-bt" class="btn btn-outline-info btn-sm" onclick="openModalCorrectorBox({{ form.hidden_fields.0.value }})">Corrector Boxes</a></td>
        </tr>
        {% endfor %}
        <tr class="exam_pages_groups_formset_empty_form" hidden>
            {% for hidden in exam_pages_groups_formset.extra_forms.0.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in exam_pages_groups_formset.extra_forms.0.visible_fields %}
                {% if field.label == 'Delete' %}
                <td style="text-align:center;padding-top:35px">{{ field }}</td>
            {% else %}
                <td>{{ field }}</td>
            {% endif %}
            {% endfor %}
            {% load static %}
        </tr>
      </tbody>
    </table>
    <a id="add-form" style="margin-top:20px;" class="btn btn-outline-info btn-sm" href="{% url 'add_new_pages_group' exam.pk %}">Add Another Group</a>
</form>

<div id="grading-help-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span hidden id="grading-help-group-id"></span>
        <h5 class="modal-title">Grading Help</h5>
        <button type="button" class="close" onclick="cancelGradingHelp();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <textarea id="grading-help"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" onclick="saveGradingHelp();">Save changes</a>
        <button type="button" class="btn btn-secondary" onclick="cancelGradingHelp();">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Corrector boxes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="position: relative; display: flex; flex-direction: column; align-items: center; padding-top: 50px;">
                <img id="imgScan"  style="width:100%;" alt="Image">
<!--                <img id="marked_img" style="max-width:100%;min-width: 600px; position: absolute;">-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

tinymce.init({
    selector: 'textarea#grading-help',
    skin: 'bootstrap',
    plugins: 'lists',
    toolbar: 'h1 h2 bold italic strikethrough blockquote | bullist numlist | backcolor | removeformat help',
    menubar: false,
});

function openGradingHelpDialog(group_id){
     tinymce.get("grading-help").execCommand('RemoveFormat');
     $.ajax({
        url: "{% url 'get_pages_group_grading_help' %}",
        async : false,
        type: "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'pk' : group_id,
        },
        success: (data) => {
            tinymce.get("grading-help").setContent(data);
            $('#grading-help-group-id').val(group_id)
            $('#grading-help-modal').modal('show');
        },
        error: (error) => {
            console.log(error);
        }
    });
}

function cancelGradingHelp(){
    $('#grading-help-modal').modal('hide');
}

function saveGradingHelp(group_id){
    $.ajax({
        url: "{% url 'edit_pages_group_grading_help' %}",
        async : false,
        type: "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'pk' : $('#grading-help-group-id').val(),
            'grading_help' : tinymce.get("grading-help").getContent(),
        },
        success: (data) => {
            $('#grading-help-modal').modal('hide');
        },
        error: (error) => {
            console.log(error);
        }
    });
}

let markerArea, sourceImage, targetRoot, maState, modalCorrectorBoxGroupPk;
// save references to the original image and its parent div (positioning root)
function setSourceImage(source) {
  sourceImage = source;
  targetRoot = source.parentElement;
}

function showMarkerArea(target) {
  markerArea = new markerjs2.MarkerArea(sourceImage);
  // since the container div is set to position: relative it is now our positioning root
  // end we have to let marker.js know that
  markerArea.targetRoot = targetRoot;
  markerArea.availableMarkerTypes = ["FrameMarker", markerjs2.ArrowMarker];
  markerArea.addEventListener("markerdeselect", (event) => {
      maState = markerArea.getState();
      updateMarkers();
  });
  markerArea.addEventListener("render", (event) => {
    target.src = event.dataUrl;
    // save the state of MarkerArea
    maState = event.state;
    console.log(maState);
   });
  markerArea.addEventListener("close", (event) => {
    showMarkerArea(target);
});
  markerArea.show();
  // if previous state is present - restore it
  if (maState) {
    markerArea.restoreState(maState);
  }
}
$(window).on('shown.bs.modal', function() {
    $('#imageModal').modal('show');
    const modalImage = document.getElementById('modalImage');
    setSourceImage(imgScan);
    showMarkerArea(imgScan);
});

function openModalCorrectorBox(group_id) {
    $.ajax({
        type: 'POST',
        url: "{% url 'get_pages_group_rectangle_data' %}",
        data: {
            'group_id': group_id,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: (data) => {
            data_list = JSON.parse(data)
            console.log(data)
            var imgScan = document.getElementById('imgScan');
            imgScan.src = data_list.img_path;
            modalCorrectorBoxGroupPk = group_id;
            maState = JSON.parse(data_list.markers);             
            var imageModal = new bootstrap.Modal(document.getElementById('imageModal'));
            imageModal.show();                
            
        },      
        error: function(error) {
            console.log(error);
        }
    });
}
function updateMarkers(){
    state = JSON.stringify(markerArea.getState());
    $.ajax({
        url : "{% url 'update_page_group_markers' %}",
        async : false,
        type : "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'pages_group_pk' : modalCorrectorBoxGroupPk,
            'markers' : state
        },
        beforeSend : function(){
            $('#loadingModal').modal('show');
        },
        success: function (response) {
            console.log('Success');
        },
        error: function (error) {
            console.log(error);
        },
        complete: function () {
            $('#loadingModal').modal('hide');
            markerArea.restoreState(maState);
        }
    });
}

{#const maStateData = JSON.stringify(maState);#}
{#$.ajax({#}
{#    type: 'POST',#}
{#    url: '{% url 'maState_data' %}',#}
{#    data: {#}
{#        'maState_data': maStateData,#}
{#        'csrfmiddlewaretoken': '{{ csrf_token }}' },#}
{#    dataType: 'json',#}
{#    success:(data) => {#}
{#        console.log('success', data);#}
{#    },#}
{#    error: (error) => {#}
{#        console.log('error:', error);#}
{#    }#}
{#}); #}



</script>
