</br>
<h6>REVIEWERS</h6>
{% load crispy_forms_tags %}

<form id="form-reviewer" method="POST">
    {% csrf_token %}
    {{ exam_reviewers_formset.management_form }}

    <button type="submit" title="save reviewers" name="submit-reviewers" style="margin:20px;" class="btn btn-dark btn-sm"><i class="fas fa-floppy-disk fa-2xl" style="margin-right:10px;"></i>Save</button>
    <table class="table" style="max-width:500px">
      <thead>
        <tr>
            {% for field in exam_reviewers_formset.initial_forms.0 %}
            {% if field.label != 'Id' %}
            <th scope="col">{{ field.label }}</th>
            {% endif %}
            {% endfor %}
            <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody id="group-tbody">
        {% for form in exam_reviewers_formset.initial_forms %}
        <tr>
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
            {% if field.label == 'Delete' %}
                <td style="text-align:center;padding-top:35px">{{ field }}</td>
            {% else %}
                <td>{{ field }}</td>
            {% endif %}
            {% endfor %}
            <td><a class="btn btn-light" href="{% url 'delete_reviewer' form.hidden_fields.0.value %}"><i class="fa-solid fa-circle-minus fa-xl" style="margin-right:5px;color:red;"></i></a></td>
        </tr>
        {% endfor %}
        </tr>
      </tbody>
    </table>
    <button id="add-form" type="button" style="margin-top:20px;" class="btn btn-light" title="Add Reviewer" onclick="$('#addReviewerModal').modal('show');"><i class="fa-solid fa-circle-plus fa-2xl" style="margin-right:5px;color:green;"></i></button>
</form>

<div class="modal fade" id="addReviewerModal" tabindex="-1" role="dialog" aria-labelledby="addReviewerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add reviewer</h5>
        <button type="button" class="close" onclick="cancelAddNewReviewers();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="addReviewerModalBody" class="modal-body">
        <input id="newReviewerEmail" class="form-control" type="text" placeholder="Email">
          </br>
          <button class="btn btn-dark btn-sm" id="search_ldap_bt" onclick="searchLdap();" type="button"><i class="fa-solid fa-magnifying-glass" style="margin-right: 5px;"></i>Search</button>
      </div>
    <div>
        <ul  class="list-group" id="newReviewerList"></ul>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" onclick="cancelAddNewReviewers();">Cancel</button>
        <button type="button" class="btn btn-dark btn-sm" onclick="addNewReviewers();">Add reviewers</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
document.getElementById("newReviewerEmail").addEventListener("keypress", function(event) {
  if (event.key === "Enter") {
    // Cancel the default action, if needed
    event.preventDefault();
    // Trigger the button element with a click
    document.getElementById("search_ldap_bt").click();
  }
});

function searchLdap(){
    var email = document.getElementById("newReviewerEmail").value;

    var add_reviewer_error = document.getElementById("addReviewerError");
    if (typeof(add_reviewer_error) != 'undefined' && add_reviewer_error != null)
    {
      add_reviewer_error.remove();
    }

    $.ajax({
        url: "{% url 'search_ldap' %}",
        type: "POST",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'pk' : {{ exam.pk }},
            'email' : email,
        },
        success: (data) => {
            if(data==="exist"){
                let add_reviewer_error = document.createElement('div');
                add_reviewer_error.setAttribute("class","alert alert-warning");
                add_reviewer_error.setAttribute("role","alert")
                add_reviewer_error.innerHTML = "User already present as a reviewer for this exam !";
                document.getElementById("addReviewerModalBody").appendChild(add_reviewer_error);
            }else{
                let list = document.getElementById("newReviewerList");
                let li = document.createElement('li');
                let remove_bt = document.createElement('button')
                remove_bt.textContent = 'remove';
                remove_bt.setAttribute("class","btn btn-light btn-sm");
                remove_bt.setAttribute("style","margin-right:10px;");
                remove_bt.addEventListener('click', () => {
                    document.getElementById(data).remove();
                });
                remove_bt.innerHTML = '<i class="fa-solid fa-circle-minus fa-xl" style="margin-right:5px;color:red;"></i>'
                li.appendChild(remove_bt);
                li_txt = data.replace(/;/g,' ');
                li.appendChild(document.createTextNode(li_txt));
                li.setAttribute("id",data);
                li.setAttribute("class","list-group-item");
                list.appendChild(li);
                document.getElementById("newReviewerEmail").value = "";
             }
        },
        error: (error) => {
            let add_reviewer_error = document.createElement('div');
            add_reviewer_error.setAttribute("class","alert alert-warning");
            add_reviewer_error.setAttribute("role","alert")
            add_reviewer_error.innerHTML = "Cannot find user with this email address in EPFL LDAP !";
            document.getElementById("addReviewerModalBody").appendChild(add_reviewer_error);
            console.log(error);
        }
    });
}

function addNewReviewers(){
    var reviewers_li = document.getElementById("newReviewerList").querySelectorAll("li");

    let reviewers = [];
    for(let i=0; i<reviewers_li.length;i++) {
      reviewers.push(reviewers_li[i].id);
    }

    let list = document.getElementById("newReviewerList");
    list.innerHTML = '';
    document.getElementById("newReviewerEmail").value = '';
    $('.modal').modal('hide');
    $.ajax({
        url: "{% url 'add_new_reviewers' %}",
        type: "POST",
        dataType: "json",
        data : {
            'csrfmiddlewaretoken' : "{{ csrf_token }}",
            'pk' : {{ exam.pk }},
            'reviewer_list' : reviewers,
        },
        complete: function () {
            location.reload();
        },
        error: (error) => {
            console.log(error);
        }
    });
}

function cancelAddNewReviewers(){
    let list = document.getElementById("newReviewerList");
    list.innerHTML = '';
    document.getElementById("newReviewerEmail").value = '';
    $('.modal').modal('hide');
}

</script>
