{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
     {% if user.is_authenticated %}
        <div class="jumbotron text-center">
            <h1>eXamc</h1>
            {{ user }}
            <h5>Welcome {{ user.first_name }} {{ user.last_name }}</h5>
            <h5>Please select an exam from the top left button to start !</h5>
        </div>
     {% else %}

        <div class="jumbotron text-center">
            <h1>EXAMS-Stats</h1>
            <a type="button" class="btn btn-dark" href="/login">EPFL(Tequila) login</a>
            <a type="button" class="btn btn-dark" href="/login_form">login</a>


        </div>

     {% endif %}

{% endblock %}
