{% load custom_tags %}
<div id="distributions_table_div" style="max-width:1600px;>
  <div class="table-responsive">
    <table id="distribution_dt" class="table table-striped table-sm">
      <thead>
        <tr>
          <th colspan="2">Students : {% if exam.is_overall %}{{ exam.get_sum_common_students }}{% else %}{{ exam.students.all|length }}{% endif %} </th>
          <th colspan="2">Present :  {{ exam.present_students }} </th>
          <th colspan="4">Absent : {{ absent }} </th>
          <th colspan="17"/>
        </tr>
        <tr>
          <th>Scale</th>
          <th>Average</th>
          <th>Median</th>
          <th>Std. dev.</th>
          {% for grade in grade_list %}
          <th>{{ grade }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for scale_stat in exam.scalesStatistics.all %}
        {% if scale_stat.section == 'global' %}
        <tr>
          <th>{{ scale_stat.scale.name }}</th>
          <th>{{ scale_stat.average }}</th>
          <th>{{ scale_stat.median }}</th>
          <th>{{ scale_stat.stddev }}</th>
          {% for distribution in scale_stat.scaleDistributions.all %}
          <th>{{ distribution.quantity }}</th>
          {% endfor %}
        </tr>
        <tr>
          <th colspan="4"/>
          <th colspan="8">Achievement : {{ scale_stat|get_achievement_by_scalestat }} </th>
          <th colspan="8">Non Achievement : {{ scale_stat|get_nonachievement_by_scalestat }}</th>
          <th/>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
<canvas id="canvas" class="chartjs-render-monitor" ></canvas>
  </div>

</div>

