{% extends 'base.html' %}
{% block title %}Results{% endblock %}

{% block extra_head %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $('#students_dt').DataTable( {
        "paging":   false
    } );
} );
</script>
{% endblock %}

{% block scripts %}
$(window).on("load",function(){
{% if students %}

<!--student-present buttons-->
{% for student in students %}
$('#present-{{student.pk}}-1').on('click', function() {
  updateStudentPresent({{ student.pk }}, 1);
});
$('#present-{{student.pk}}-0').on('click', function() {
  updateStudentPresent({{ student.pk }}, 0);
});
{% endfor %}


function updateStudentPresent(pk,value){
  $.ajax({
    url : "{% url 'update_student_present' %}",
    type : "POST",
    data : {
      'csrfmiddlewaretoken' : "{{  csrf_token  }}",
      'pk' : pk,
      'value' : value
    },
    beforeSend : function(){
      $('#loadingModal').modal('show');
    },
    complete: function () {
      $('#loadingModal').modal('hide');
    },
    success : function(result) {
      window.location.href += "?dataUpdated=true";
      window.location.reload();
    }
  });
}
{% endif %}
})
{% endblock %}

{% block content %}

{% if user_allowed %}

<h4><i class="fas fa-th-list fa-l" style="margin-right:5px;"></i>Results</h4>

{% if students %}
    <div id="students_table_div">
        <table id="students_dt" class="table table-striped table-sm">
            <thead>
                <tr>
                    {% if exam.is_overall %}
                    <th>Exam</th>
                    {% endif %}
                    <th>Copie Nr.</th>
                    <th>Sciper</th>
                    <th>Name</th>
                    <th>Present</th>
                    <th>Points</th>
                    {% for scale in exam.scales.all|dictsort:"name" %}
                        <th>{{ scale.name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        {% if exam.is_overall %}
                        <td>{{ student.exam.code }} {{ student.exam.users.first.last_name }}</td>
                        {% endif %}
                        <td>{{ student.copie_no }}</td>
                        <td>{{ student.sciper }}</td>
                        <td>{{ student.name }}</td>
                        <td><a hidden>{{student.present}}</a>
                          <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-left:-20px;">
                          {% if student.present %}
                            <label class="btn btn-light btn-sm active" style="background-color: transparent;">
                              <input type="radio" name="options" id="present-{{student.pk}}-1" checked {% if not user.is_staff %} disabled {% endif %}><i class="fa-solid fa-circle-check fa-2xl"></i>
                            </label>
                            <label class="btn btn-light btn-sm" style="background-color: transparent;">
                                <input type="radio" name="options" id="present-{{student.pk}}-0" {% if not user.is_staff %} disabled {% endif %}><i class="fa-solid fa-circle-xmark fa-2xl" style="color:lightgray;"></i>
                            </label>
                          {% else %}
                            <label class="btn btn-light btn-sm" style="background-color: transparent;">
                              <input type="radio" name="options" id="present-{{student.pk}}-1" {% if not user.is_staff %} disabled {% endif %}><i class="fa-solid fa-circle-check fa-2xl" style="color:lightgray;"></i>
                            </label>
                            <label class="btn btn-light btn-sm active" style="background-color: transparent;">
                                <input type="radio" name="options" id="present-{{student.pk}}-0" checked {% if not user.is_staff %} disabled {% endif %}><i class="fa-solid fa-circle-xmark fa-2xl"></i>
                            </label>
                          {% endif %}
                          </div>
                        </td>
                        <td>{{ student.points }}</td>
                        {% if student.scaleGrades.all %}
                            {% for scale_grade in student.scaleGrades.all|dictsort:"scale.name" %}
                                <td>{{ scale_grade.grade }}</td>
                            {% endfor %}
                        {% else %}
                            {% for scale_grade in student.exam.scales.all %}
                                <td>abs</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
{% else %}
    <div class="alert alert-warning">
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">No data found for this exam. Please import data and generate statistics.</a>.</p>
    </div>
{% endif %}
{% else %}

<h4>You are not allowed to view this page !</h4>

{% endif %}

{% endblock %}
